@import url("global-variables.css");
body {
  font-family: 'Roboto', sans-serif;
}

.welcome-title {
  margin-top: 20px;
  font-size: 2.75rem;
  text-align: center;
}

.under-development {
  color: var(--color-red);
  text-align: center;
}

.editor {
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.html-container {
  border: 1px solid var(--color-dark-grey);
  border-radius: 5px;
  padding: 30px;
  margin-right: 20px;
  width: 300px;
  height: 325px;
  display: flex;
  flex-direction: column;
}

#html-code {
  max-width: 300px;
  height: 300px;
  margin-top: 10px;
}

.output-container {
  border: 1px solid var(--color-dark-grey);
  border-radius: 5px;
  padding: 30px;
  width: 300px;
  height: 325px;
}

#output {
  width: 300px;
  height: 328px;
}

input {
  text-align: center;
  border: none;
  outline: none;
}

.container {
  text-align: center;
  margin-top: 20px;
}

.button {
  background-color: var(--color-vivid-pink);
  color: var(--color-white);
  cursor: pointer;
  font-weight: bold;
  border: none;
  margin-top: 15px;
  border-radius: 5px;
  padding: 15px;
  font-size: 1rem;
}
