@import url("global-variables.css");
body {
  font-family: 'Roboto', sans-serif;
}

.instruction-gif {
  max-width: 100%;
  width: auto;
  height: auto;
  background-size: contain;
}

.welcome-title {
  margin-top: 20px;
  font-size: 2.75rem;
  text-align: center;
}

.under-development {
  color: var(--color-red);
  text-align: center;
}

.editor {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.html-container {
  border: 1px solid var(--color-dark-grey);
  border-radius: 5px;
  padding: 30px;
  margin-right: 20px;
  width: 300px;
  height: 325px;
  display: flex;
  flex-direction: column;
}

#html-code {
  max-width: 300px;
  height: 300px;
  margin-top: 10px;
}

.output-container {
  border: 1px solid var(--color-dark-grey);
  border-radius: 5px;
  padding: 30px;
  width: 300px;
  height: 325px;
}

#output {
  width: 300px;
  height: 328px;
}

input {
  text-align: center;
  border: none;
  outline: none;
}

.container {
  text-align: center;
}

.button {
  background-color: var(--color-vivid-pink);
  color: var(--color-white);
  cursor: pointer;
  font-weight: bold;
  border: none;
  margin-top: 35px;
  border-radius: 5px;
  padding: 15px;
  font-size: 1rem;
}

.title-container {
  display: flex;
  flex-direction: column;
}

#instruction-button {
  background-color: #db0979;
  color: white;
  cursor: pointer;
  font-weight: bold;
  border: none;
  height: 50%;
  margin-top: 20px;
  border-radius: 5px;
  padding: 15px;
  font-size: 1rem;
  transition-duration: 0.4s;
  transition-property: box-shadow;
}

#instruction-button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.instruction-modal {
  display: none;
  position: absolute;
  padding-left: 20px;
  padding-bottom: 10px;
  z-index: 2;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  overflow: auto;
  width: 70vw;
  height: 70vh;
  background-color: #fefefe;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.close {
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  color: #aaa;
  border: none;
  background-color: transparent;
  font-size: 3rem;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  overflow: hidden;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 1;
}

@media screen and (max-width: 767px) {
  .editor {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
  }
  .html-container {
    margin-right: 0px;
  }
  .output-container {
    margin-top: 30px;
  }
  .welcome-title {
    text-align: center;
    color: black;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .editor {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
  }
  .html-container {
    margin-right: 0px;
  }
  .output-container {
    margin-top: 30px;
  }
  .welcome-title {
    text-align: center;
    color: black;
  }
}
