*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

main {
  width: 100vw;
  padding: 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: center;
  position: relative;
  max-height: fit-content;
}

.container {
  width: 600px;
  height: inherit;
  display: flex;
  gap: 20px;
  flex-direction: column;
}

/***********************/
/*      POP UP          */
/***********************/
.pop-up {
  background-color: rgba(32, 124, 35, 0.603);
  width: 300px;
  height: 70px;
  display: flex;
  font-size: 0.8rem;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 87%;
  right: -300px;
  color: white;
  border-radius: 3px;
}

.show-popup-animattion {
  transform: translateX(-400px);
  transition: 0.5s;
}

.pop-up::after {
  content: 'x';
  display: block;
  color: rgb(255, 255, 255);
  font-size: 1rem;
  position: absolute;
  bottom: 60%;
  right: 10px;
}

.profile,
.user-details,
.social-details,
.feature {
  box-sizing: border-box;
  width: 100%;
  min-height: 500px;
  max-height: fit-content;
  border-radius: 9px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  box-shadow: 7px 13px 7px rgba(0, 0, 0, 0.25);
}

.social-details,
.profile {
  min-height: 300px;
}

/***********************/
/*IMAGE AND NAME SECTION*/
/***********************/

.profile {
  border: 1px solid var(--color-what-is-title-bg);
  background-color: var(--color-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.profilePic,
h2 {
  /* margin: 20px; */
  align-self: center;
}
.profilePic {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 180px;
  overflow: hidden;
}
.profile h2 {
  font-size: 32px;
}

/***********************/
/*    USER DETAIL      */
/***********************/

.user-details {
  border: 1px solid var(--color-what-is-title-bg);
  box-sizing: border-box;
  max-height: 100%;
  background-color: var(--color-bg);
  color: var(--color-what-is-title-bg);
  justify-content: space-between;
}

.user-details ul {
  width: 100%;
  display: flex;
  gap: 25px;
  flex-direction: column;
}

.user-details p {
  font-size: 1.3rem;
  font-weight: bold;
}

.user-details span p {
  font-size: 1.3rem;
  font-weight: normal;
  padding-inline: 10px;
}
.user-details li {
  list-style: none;
  display: flex;
  align-items: center;
}

.roles-container {
  display: flex;
  flex-direction: row;
  max-height: fit-content;
  min-height: 150px;
  padding: 5px 0px;
}

.all-roles {
  width: max-content;
  padding: 0px 20px;
}

.roles {
  margin-block-end: 15px;
}

/***********************/
/*    FEATURE DETAIL   */
/***********************/

.feature {
  box-sizing: border-box;
  background-color: var(--color-what-is-title-bg);
  padding: 30px;
  min-height: 580px;
  max-height: 100%;
  border: 0.5px solid var(--color-bg);
  color: White;
  display: flex;
  align-items: start;
  gap: 20px;
  display: flex;
  justify-content: start;
}

.feature h3 {
  margin: 0px;
  height: 30px;
  margin-bottom: 5px;
}

.feature ul {
  min-height: 240px;
  max-height: fit-content;
  list-style: none;
  list-style-position: inside;
  padding-inline-start: 5px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
}

.feature li p {
  font-size: 1.2rem;
  font-weight: bold;
  color: whitesmoke;
}

.su-group {
  height: 100px;
  display: flex;
  gap: 20px;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  margin-bottom: 5px;
}

.indicator {
  border-radius: 50%;
  background-color: grey;
  width: 25px;
  height: 25px;
  position: relative;
  top: 7px;
}

.feature h3 {
  font-size: 2rem;
}
/***********************/
/*      TOGGLE         */
/***********************/

.privileges {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: start;
  align-items: center;
}
.toggle-button {
  background-color: rgb(255, 0, 43);
  height: 40px;
  width: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
  border-radius: 200px;
  margin: 0px;
  cursor: pointer;
}
.toggle {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: white;
  transition: 0.3s ease-out;
  cursor: pointer;
}

.applied {
  transform: translateX(42px);
  transition: 0.3s;
}

.disabled {
  background-color: gray;
  pointer-events: none;
  cursor: none;
}

/***********************/
/*   SOCIAL DETAILS    */
/***********************/

.social-details {
  background-color: var(--color-bg);
  padding: 30px;
  box-sizing: border-box;
  border: 1px solid var(--color-what-is-title-bg);
  color: var(--color-what-is-title-bg);
  justify-content: space-around;
}

.social-details ul {
  display: flex;
  gap: 50px;
  flex-direction: column;
  width: 100%;
}
.social-details li {
  list-style: none;
  display: flex;
  align-items: center;
}

.social-details p {
  font-size: 1.3rem;
  font-weight: bold;
}

.social-details span p {
  font-size: 1.3em;
  font-weight: normal;
}
.social-details li {
  list-style: none;
  display: flex;
  align-items: center;
  margin-block: -5px;
}

/***********************/
/*     MEDIA QUERY     */
/***********************/

@media (max-width: 1300px) {
  main {
    flex-wrap: wrap;
  }
}

@media (max-width: 900px) {
  .container {
    width: 600px;
  }
}
@media (max-width: 650px) {
  .container {
    width: 500px;
  }
}

@media (max-width: 505px) {
  .container {
    width: 400px;
  }

  .user-details,
  .social-details {
    min-height: 300px;
  }
  .user-details span p {
    font-size: 0.87rem;
  }

  .user-details p {
    font-size: 0.9rem;
  }
  .social-details p {
    font-size: 0.9rem;
  }
  .social-details span p {
    font-size: 0.87rem;
  }

  .pop-up {
    width: 250px;
    font-size: 0.8rem;
  }
}
