:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-black-rgb: 0, 0, 0;
  --color-dark-blue: #1d1283;
  --color-vivid-pink: #e20665;
  --color-soft-pink: #ed579c;
  --color-soft-magenta: #f5c4f1;
  --color-carmine: #a10829;
  --color-firebrick: #b22222;
  --color-red: #ff0000;
  --color-black-olive: #3d3d3d;
  --color-darkest-grey: #666;
  --color-dark-grey: #777;
  --color-grey: #bdbdbd;
  --color-light-grey: #d7d7d7;
  --color-dark-green: #006400;
  --color-lime-green: #43a047;
  --color-vivid-green: #64dd17;
  --color-cyan-lime-green: #00e676;
  --theme-background: #1d1283;
  --text-white: #ffffff;
  --text-red: #fd0101;
  --input-background: #d9d9d9;
  --error-border: #ff0000;
  --error-background: #ffebef;
}
