.input-label-dark {
  margin-left: 0.5rem;
}

.input-big {
  height: 10.25rem;
}

#renderHeardAbout {
  margin-bottom: 1rem;
}

#loading {
  margin: 39vh 0;
  text-align: center;
}

.not-found {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 70vh;
  margin: 3rem 0;
}

.not-found-text-h1 {
  font-size: 1.75rem;
  text-align: center;
}

.not-authorized {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 70vh;
  margin: 3rem 0;
}

.not-authorized-text-h1 {
  font-size: 1.75rem;
  text-align: center;
}

.hidden {
  display: none;
}

@media screen and (max-width: 500px) {
  .user-input {
    font: 300 17px 'Roboto';
    width: 22rem;
    line-height: 32px;
  }

  .not-authorized-text-h1 {
    font-size: 1.25rem;
  }

  .not-found-text-h1 {
    font-size: 1.25rem;
  }

  .not-found-img {
    width: 40%;
  }

  .not-authorized-img {
    width: 40%;
  }
}

@media (min-width: 500px) and (max-width: 1024px) {
  .not-found-img {
    width: 50%;
  }

  .not-authorized-img {
    width: 50%;
  }
}
