@import url('global-variables.css');
html,
body {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  /* for rem */
  overflow-x: hidden;
}

#scroll-to-top-btn {
  position: fixed;
  z-index: 100;
  bottom: -100px;
  right: 20px;
  width: 50px;
  height: 50px;
  background: var(--color-vivid-pink);
  border: none;
  border-radius: 50%;
  outline: none;
  box-shadow: 0 0 10px rgba(var(--color-black-rgb), 0.25);
  cursor: pointer;
  transition: all 0.3s;
}

#scroll-to-top-btn:active {
  background: var(--color-black);
}

.content-wrapper {
  display: flex;
  margin: 0 25px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.content-wrapper main {
  max-width: 100%;
}

.wrapper {
  margin: 25px;
}

.info-note {
  text-align: center;
  font-weight: 400;
  font-size: 1.2rem;
}

.highlighted-text {
  color: var(--color-vivid-pink);
}

.highlighted-text a {
  color: var(--color-dark-blue);
}

.notif-banner {
  padding: 10px 20px;
  border: 1px solid var(--color-grey);
  border-radius: 10px;
  background-color: var(--color-light-grey);
  margin: 20px 0 50px;
  display: inline-block;
}

.main-banner {
  margin-top: 20px;
}

.main-banner,
.new-releases {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-releases > .notif-banner {
  width: 77%;
}

.notif-banner > .notif {
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}

.notif-banner > .notif span,
.notif-banner > .notif > .label-tag {
  background: linear-gradient(
    90deg,
    var(--color-vivid-pink) 25%,
    var(--color-soft-pink) 90%
  );
  color: var(--color-white);
  padding: 2px 8px;
  font-weight: bold;
  font-size: 0.8em;
  margin-right: 10px;
  border-radius: 4px;
}

.notif-banner > .notif > .label-tag.coming-soon {
  background: linear-gradient(
    90deg,
    var(--color-lime-green) 25%,
    var(--color-vivid-green) 90%
  );
}

.notif-banner > .notif a {
  font-size: 0.85em;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.25s ease-in-out;
  margin-left: 10px;
}

.notif-banner > .notif a:hover {
  color: var(--color-vivid-pink);
}

.welcome-title {
  margin-top: 15px;
  text-align: center;
  font-weight: 700;
}

.logo-img {
  width: 200px;
  height: 200px;
  display: block;
  margin: 20px auto;
}

.social-media-links {
  text-align: center;
  font-weight: 400;
  font-size: 1.125em;
}

.social-media-links-btn {
  font-size: 16px;
  border: none;
  padding: 0.3rem;
  background-color: var(--color-white);
  cursor: pointer;
}

.social-media-logo {
  vertical-align: middle;
  width: 35px;
  height: 35px;
  transition: all 0.5s ease-in-out;
}

.social-media-logo:hover {
  transform: scale(1.25);
}

.social-media-link {
  text-decoration: none;
}

.social-media-links > span {
  color: var(--color-vivid-pink);
  margin: 0 10px;
}

.section-description {
  background: var(--color-dark-blue);
  margin: 0 -25px;
}

.description-title {
  text-align: center;
  font-weight: 700;
  line-height: 130%;
  font-size: 2rem;
  color: var(--color-white);
  padding: 60px 60px 28px;
}

.description-content {
  padding: 0 40px 32px;
  font-weight: 400;
  color: var(--color-white);
  line-height: 175%;
  text-align: justify;
}

.section-features {
  margin: 0 -25px;
}

.features-title {
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
  color: var(--color-black-olive);
  margin: 60px 20px 32px;
  line-height: 150%;
}

.features-content {
  padding: 0px 40px 20px 0px;
  font-weight: 400;
  color: var(--color-black-olive);
  line-height: 175%;
  text-align: justify;
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-auto-rows: auto;
  grid-gap: 5rem;
}
.card,
.modal-card {
  border-radius: 20px;
  padding: 2rem;
  text-align: center;
}
.card {
  border: 2px solid #e7e7e7;
}
.card:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.read-more {
  border-radius: 10px;
  outline: none;
  background: #e3e3e3;
  color: #000;
  border: none;
  padding: 6px 14px;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: inherit;
}
.body-blackout {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 20px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
.body-blackout.is-blacked-out {
  display: block;
}
.popup-trigger {
  display: inline-block;
}
.popup-modal {
  border-radius: 20px;
  background-color: #fff;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 45px;
  opacity: 0;
  pointer-events: none;
  transition: all 300ms ease-in-out;
  z-index: 1011;
  max-width: 1104px;
  width: 100%;
}
.popup-modal.is--visible {
  opacity: 1;
  pointer-events: auto;
}
.popup-modal__close {
  position: absolute;
  font-size: 1.2rem;
  right: -10px;
  top: -10px;
  cursor: pointer;
  background-color: black;
  color: #fff;
  padding: 10px 20px;
  border-radius: 50%;
}

.modal-title-bullet-points {
  font-size: 45px;
  margin: 30px 2px;
  text-align: center;
}
.title-bullet-points {
  margin: 30px 2px;
  text-align: center;
}

.video-holder {
  margin: 175px auto 50px;
  max-width: 600px;
}

.video-holder > .video-text {
  margin: 0 auto 40px;
  font-size: 34px;
  text-align: center;
}

.video-holder > iframe {
  margin: 0 auto;
  display: block;
  width: 100%;
}

.next-event-header {
  margin-top: 40px;
}

.next-event {
  margin: 20px 10px 10px;
  display: block;
  font-size: 2rem;
  text-align: center;
}

.past-events-header {
  font-size: 18px;
  margin-top: 40px;
  text-align: center;
}

.events-box {
  margin: 0 20px 50px;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.events-box > * {
  margin: 0 10px;
  padding: 8px;
  text-align: center;
  width: 100%;
  color: var(--color-vivid-pink);
  text-decoration: none;
}

.events-box a:visited {
  color: var(--color-carmine);
}

.events-box a:hover {
  background: var(--color-soft-magenta);
  border-radius: 20px;
}

.events-box span {
  color: var(--color-vivid-pink);
  display: none;
}

.info-note a {
  color: var(--color-vivid-pink);
  text-decoration: none;
}

.info-note a:hover {
  color: var(--color-carmine);
}

footer {
  margin: 25px 0;
}

.info-repo {
  font-weight: 400;
  margin: 0 auto;
  text-align: center;
}

.cta-button__container {
  text-align: center;
  margin: 40px 0 20px;
  text-align: right;
}

.cta-button {
  background-color: var(--color-dark-blue);
  border-radius: 5px;
  color: var(--color-light-grey);
  cursor: pointer;
  padding: 16px 40px;
  font-size: 20px;
  white-space: nowrap;
  text-decoration: none;
  box-shadow: 1px 1px 14px -3px rgba(var(--color-black-rgb), 0.42);
}

.cta-button:hover {
  background-color: var(--color-darkest-blue);
  transition: background-color 0.2s ease-in;
  outline: var(--color-dark-blue);
}

.member-imgs {
  display: none;
  align-items: center;
  justify-content: center;
  min-height: 26rem;
}

.member-imgs > a {
  display: flex;
  justify-content: center;
}

.member-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: absolute;
  --x: 0%;
  --y: 0%;
  --s: 1;
  transform: scale(var(--s));
}

.loaders {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 7rem;
  min-height: 26rem;
}

.skeleton-loader {
  position: absolute;
  margin-top: 1.25rem;
  margin-right: 1.25rem;
  padding: 0.625rem;
  overflow: hidden;
  background: var(--color-white);
  height: 120px;
  width: 120px;
  border-radius: 50%;
  box-shadow: 0 10px 10px 0 rgba(var(--color-black-rgb) 0.2),
    0 5px 10px 10px rgba(var(--color-black-rgb), 0.2);
  transition: ease box-shadow 0.3s;
  --x: 0%;
  --y: 0%;
  --s: 1;
  transform: scale(var(--s));
}

.avatar-head {
  position: absolute;
  background: var(--color-dark-grey);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  top: 50%;
  left: 50%;
  margin: -25px 0px 0px -25px;
}

.avatar-body {
  position: absolute;
  background: var(--color-dark-grey);
  margin-top: 49px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50px;
  width: 100px;
  border-radius: 150px 150px 0 0;
}

.animate {
  animation: shimmer 8s infinite linear;
  background: linear-gradient(to top, var(--color-grey) 34%, #c5c9c9 30%);
  background-size: 100px 100%;
}

@keyframes shimmer {
  0% {
    background-position: 0 1000px;
  }
}

/* Media Queries */

@media (min-width: 420px) {
  .notif-banner > .notif {
    font-size: 22px;
  }

  .welcome-title {
    font-size: 2.75rem;
  }

  .logo-img {
    width: 400px;
    height: 400px;
  }

  .cta-button {
    font-size: 20px;
  }

  .events-box > * {
    width: auto;
  }

  .events-box span {
    display: inline-block;
  }
}

.highlights li {
  padding: 10px;
}

@media screen and (max-width: 500px) {
  .cta-button__container {
    text-align: center;
  }

  .cta-button {
    max-width: 196px;
    display: inline-block;
    text-align: center;
    padding: 10px 20px;
    font-size: 18px;
  }
}

@media screen and (min-width: 1100px) {
  .description-title {
    font-size: 2.8rem;
    padding: 90px 60px 45px;
  }

  .description-content {
    font-size: 1.25rem;
    padding: 0px 65px 70px;
  }

  .features-title {
    font-size: 2.8rem;
    margin-top: 150px;
    margin-bottom: 100px;
  }

  .features-content {
    font-size: 1.25rem;
    padding: 0px 65px 60px 30px;
  }

  .title-bullet-points {
    font-size: 1.75rem;
    margin: 40px 2px;
  }
}

@media screen and (min-width: 1024px) {
  .description-content {
    padding: 0px 250px 90px;
  }

  .features-content {
    padding: 0px 110px 80px 110px;
  }
}

@media screen and (max-width: 1240px) {
  .cards {
    grid-template-columns: repeat(1, 2fr);
    max-width: 960px;
    margin: auto;
  }
  .card:hover {
    transform: scale(1);
  }
  .features-content {
    padding: 0px;
  }
}
/***********************/
/* EMAIL CAPTURE FORM */
/***********************/

.section-cta {
  padding: 40px 250px;
}

.cta {
  display: flex;
  border-radius: 9px;
  align-items: center;
  justify-content: center;

  box-shadow: 0 1.2rem 2.4rem rgba(--color-black-rgb, 0.1);
}

.cta-text-box {
  padding: 3.6rem 4.8rem 4.8rem;
  color: var(--color-dark-blue);
}

.cta .heading-secondary {
  font-size: 2.4rem;
  margin-bottom: 1.8rem;
  color: inherit;
}

.cta-text {
  font-size: 1.2rem;
  line-height: 1.8;
  margin-bottom: 2.4rem;
}

.cta-form {
  display: grid;
  grid-template-columns: 60% 30%;
  column-gap: 3.6rem;
  row-gap: 1.2rem;
}

.cta-form label {
  display: block;
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.cta-form input {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.2rem;
  font-family: inherit;
  border: none;
  border-radius: 9px;

  color: var(--color-dark-grey);
  background-color: var(--color-very-pale-blue);
  box-shadow: 0 1px 2px rgba(--color-black-rgb 0.1);
}

.cta-form input:focus {
  outline: 3px solid var(--color-soft-magenta);
}

.btn-cta {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  padding: 1.2rem 2.15rem;
  border-radius: 9px;
  border: none;
  cursor: pointer;
  font-family: inherit;
  text-decoration: none;
  align-self: end;

  color: var(--color-white);
  background-color: var(--color-dark-blue);
  transition: all 0.3s;
}

.btn-cta:hover,
.btn-cta:active {
  background-color: var(--color-vivid-pink);
}

/* MEDIA QUERIES */

@media (max-width: 79em) {
  .cta-form input {
    width: 75%;
  }
}

@media (max-width: 60em) {
  .section-cta {
    padding: 0.8rem 1.4rem;
  }

  .cta-form {
    grid-template-columns: 60% 40%;
    column-gap: 1.8rem;
  }
}

@media (max-width: 31em) {
  .section-cta {
    padding: 0.8rem 1.4rem;
  }

  .cta-form {
    grid-template-columns: 1fr;
  }

  .cta-form input {
    width: 83%;
  }
}
