html,
body {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px; /* for rem */
}

.content-wrapper {
  display: flex;
  margin: 0 25px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

nav {
  width: 100%;
  text-align: right;
}

.nav-logo-li > a {
  padding: 7px;
}

.content-wrapper main {
  max-width: 100%;
}

nav .btn-login {
  margin-top: 15px;
  font-size: 18px;
  float: right;
}

nav .login-btn-text {
  font-size: 16px;
  border-radius: 6px;
  padding: 0.3rem;
  background-color: white;
  cursor: pointer;
}

nav .logo {
  width: 15px;
  height: 15px;
}

nav .user-greet {
  display: none;
  font-size: 20px;
  margin-top: 10px;
}

nav .user-greet .user-profile-pic {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  display: inline;
  vertical-align: middle;
}
nav .user-greet .user-greet-msg {
  font-size: 1em;
  display: inline;
  vertical-align: middle;
  margin-right: 10px;
}

.info-note {
  text-align: center;
  font-weight: 400;
  font-size: 1.2rem;
}

.highlighted-text {
  color: #e20665;
}

.highlighted-text a {
  color: #041484;
}

.notif-banner {
  padding: 10px 20px;
  border: 1px solid #bdbdbd;
  border-radius: 10px;
  background-color: #fafafa;
  margin: 20px 0 50px;
  display: inline-block;
}

.main-banner {
  margin-top: 20px;
}

.main-banner,
.new-releases {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-releases > .notif-banner {
  width: 77%;
}

.notif-banner > .notif {
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}

.notif-banner > .notif span,
.notif-banner > .notif > .label-tag {
  background: linear-gradient(90deg, #e30162 25%, #ed579c 90%);
  color: white;
  padding: 2px 8px;
  font-weight: bold;
  font-size: 0.8em;
  margin-right: 10px;
  border-radius: 4px;
}

.notif-banner > .notif > .label-tag.coming-soon {
  background: linear-gradient(90deg, #00e676 25%, #64dd17 90%);
}

.notif-banner > .notif a {
  font-size: 0.85em;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.25s ease-in-out;
  margin-left: 10px;
}

.notif-banner > .notif a:hover {
  color: #e30162;
}

.welcome-title {
  margin-top: 15px;
  text-align: center;
  font-weight: 700;
}

.logo-img {
  width: 200px;
  display: block;
  margin: 20px auto;
}

.social-media-links {
  text-align: center;
  font-weight: 400;
  font-size: 1.125em;
}

.social-media-links-btn {
  font-size: 16px;
  border: none;
  padding: 0.3rem;
  background-color: white;
  cursor: pointer;
}

.social-media-logo {
  vertical-align: middle;
  width: 15px;
  height: 15px;
}

.social-media-link {
  text-decoration: none;
}

.social-media-links > span {
  color: #e20665;
  margin: 0 10px;
}

.description-what-is {
  background: #041187;
  margin: 0 -25px;
}

.description-what-is-title {
  text-align: center;
  font-weight: 700;
  line-height: 130%;
  font-size: 2rem;
  color: white;
  padding: 60px 60px 28px;
}

.description-what-is-content {
  padding: 0 40px 32px;
  font-weight: 400;
  color: white;
  line-height: 175%;
}

.description-why-join {
  margin: 0 -25px;
}

.description-why-join-title {
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
  color: #3d3d3d;
  margin: 60px 20px 32px;
  line-height: 150%;
}

.description-why-join-content {
  padding: 0px 40px 20px;
  font-weight: 400;
  color: #3d3d3d;
  line-height: 175%;
}

.title-bullet-points {
  margin: 32px 0;
}

.video-holder {
  margin: 175px auto 50px;
  max-width: 600px;
}

.video-holder > .video-text {
  margin: 0 auto 40px;
  font-size: 34px;
  text-align: center;
}

.video-holder > iframe {
  margin: 0 auto;
  display: block;
  width: 100%;
}

.next-event-header {
  margin-top: 40px;
}

.next-event {
  margin: 20px 10px 10px;
  display: block;
  font-size: 2rem;
  text-align: center;
}

.past-events-header {
  font-size: 18px;
  margin-top: 40px;
  text-align: center;
}

.events-box {
  margin: 0 20px 50px;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.events-box > * {
  margin: 0 10px;
  text-align: center;
  width: 100%;
  color: #e20665;
  text-decoration: none;
}

.events-box a:visited {
  color: #a10829;
}

.events-box a:hover {
  background: #f5c4f1;
}

.events-box span {
  color: #e20665;
  display: none;
}

.info-note a {
  color: #db0979;
  text-decoration: none;
}

.info-note a:hover {
  color: #a10829;
}

footer {
  margin: 25px 0;
}

.info-repo {
  font-weight: 100;
  margin: 0 auto;
  text-align: center;
}

.cta-button__container {
  text-align: center;
  margin: 40px 0 20px;
  text-align: right;
}

.cta-button {
  background-color: #041484;
  border-radius: 5px;
  color: #fff1f6;
  cursor: pointer;
  padding: 16px 40px;
  font-size: 20px;
  white-space: nowrap;
  text-decoration: none;
  box-shadow: 1px 1px 14px -3px rgba(0, 0, 0, 0.42);
}

.cta-button:hover {
  background-color: #030c4c;
  transition: background-color 0.2s ease-in;
  outline: #041484;
}

.member-imgs {
  display: none;
  align-items: center;
  justify-content: center;
  min-height: 26rem;
}

.member-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: absolute;
  --x: 0%;
  --y: 0%;
  --s: 1;
  transform: scale(var(--s));
}

.loaders {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 7rem;
  min-height: 26rem;
}

.skeleton-loader {
  position: absolute;
  margin-top: 20px;
  margin-right: 20px;
  padding: 10px;
  overflow: hidden;
  background: rgb(255, 255, 255);
  height: 120px;
  width: 120px;
  border-radius: 50%;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2),
    0 5px 10px 10px rgba(0, 0, 0, 0.2);
  transition: ease box-shadow 0.3s;
  --x: 0%;
  --y: 0%;
  --s: 1;
  transform: scale(var(--s));
}

.avatar-head {
  position: absolute;
  background: #777;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  top: 50%;
  left: 50%;
  margin: -25px 0px 0px -25px;
}

.avatar-body {
  position: absolute;
  background: #777;
  margin-top: 49px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50px;
  width: 100px;
  border-radius: 150px 150px 0 0;
}

.animate {
  animation: shimmer 8s infinite linear;
  background: linear-gradient(to top, #b4b6b8 34%, #c5c9c9 30%);
  background-size: 100px 100%;
}

@keyframes shimmer {
  0% {
    background-position: 0 1000px;
  }
}

/* Media Queries */

@media (min-width: 420px) {
  .notif-banner > .notif {
    font-size: 22px;
  }

  .welcome-title {
    font-size: 2.75rem;
  }

  .logo-img {
    width: 400px;
  }

  .cta-button {
    font-size: 20px;
  }

  .events-box > * {
    width: auto;
  }
  .events-box span {
    display: inline-block;
  }
}

.highlights li {
  padding: 10px;
}

@media screen and (max-width: 600px) {
  .cta-button__container {
    text-align: center;
  }
  .cta-button {
    max-width: 196px;
    display: inline-block;
    text-align: center;
    padding: 10px 20px;
    font-size: 18px;
  }
}

@media screen and (min-width: 500px) {
  .description-what-is-title {
    font-size: 2.8rem;
    padding: 90px 60px 45px;
  }

  .description-what-is-content {
    font-size: 1.25rem;
    padding: 0px 300px 90px;
  }

  .description-why-join-title {
    font-size: 2.8rem;
    margin-top: 150px;
    margin-bottom: 100px;
  }

  .description-why-join-content {
    font-size: 1.25rem;
    padding: 0px 330px 120px;
  }

  .title-bullet-points {
    font-size: 1.75rem;
    margin: 40px 0;
  }
}
