html,
body {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px; /* for rem */
}

.content-wrapper {
  margin: 0 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

nav {
  width: 100%;
  text-align: right;
}

.nav-logo-li > a {
  padding: 7px;
}

.content-wrapper main {
  max-width: 100%;
}

nav .btn-login {
  margin-top: 15px;
  font-size: 18px;
  float: right;
}

nav .login-btn-text {
  font-size: 16px;
  border-radius: 6px;
  padding: 0.3rem;
  background-color: white;
  cursor: pointer;
}

nav .logo {
  width: 15px;
  height: 15px;
}

nav .user-greet {
  display: none;
  font-size: 20px;
  margin-top: 10px;
}

.user-greet > a {
  text-decoration: none;
  color: black;
}
nav .user-greet-hello {
  display: inline;
}

nav .user-greet .user-profile-pic {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  display: inline;
  vertical-align: middle;
}

nav .user-greet .user-greet-msg {
  font-size: 1em;
  display: inline;
  margin-right: 10px;
}

.info-note {
  text-align: center;
  font-weight: 400;
  font-size: 1.2rem;
}

.highlighted-text {
  color: #e20665;
}

.highlighted-text a {
  color: #041484;
}

.notif-banner {
  padding: 10px 20px;
  border: 1px solid #bdbdbd;
  border-radius: 10px;
  background-color: #fafafa;
  margin: 20px 0 50px;
  display: inline-block;
}

.main-banner {
  margin-top: 20px;
}

.main-banner,
.new-releases {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-releases > .notif-banner {
  width: 77%;
}

.notif-banner > .notif {
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}

.notif-banner > .notif span,
.notif-banner > .notif > .label-tag {
  background: linear-gradient(90deg, #e30162 25%, #ed579c 90%);
  color: white;
  padding: 2px 8px;
  font-weight: bold;
  font-size: 0.8em;
  margin-right: 10px;
  border-radius: 4px;
}

.notif-banner > .notif > .label-tag.coming-soon {
  background: linear-gradient(90deg, #00e676 25%, #64dd17 90%);
}

.notif-banner > .notif a {
  font-size: 0.85em;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.25s ease-in-out;
  margin-left: 10px;
}

.notif-banner > .notif a:hover {
  color: #e30162;
}

.welcome-title {
  margin-top: 15px;
  text-align: center;
  font-weight: 700;
}

.logo-img {
  width: 200px;
  display: block;
  margin: 20px auto;
}

.social-media-links {
  text-align: center;
  font-weight: 400;
  font-size: 1.125em;
}

.social-media-links-btn {
  font-size: 16px;
  border: none;
  padding: 0.3rem;
  background-color: white;
  cursor: pointer;
}

.social-media-logo {
  vertical-align: middle;
  width: 15px;
  height: 15px;
}

.social-media-link {
  text-decoration: none;
}

.social-media-links > span {
  color: #e20665;
  margin: 0 10px;
}

.video-holder {
  margin: 175px auto 50px;
  max-width: 600px;
}

.video-holder > .video-text {
  margin: 0 auto 40px;
  font-size: 34px;
  text-align: center;
}

.video-holder > iframe {
  margin: 0 auto;
  display: block;
  width: 100%;
}

.next-event-header {
  margin-top: 40px;
}

.next-event {
  margin: 20px 10px 10px;
  display: block;
  font-size: 2rem;
  text-align: center;
}

.past-events-header {
  font-size: 18px;
  margin-top: 40px;
  text-align: center;
}

.events-box {
  margin: 0 20px 50px;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.events-box > * {
  margin: 0 10px;
  text-align: center;
  width: 100%;
  color: #e20665;
  text-decoration: none;
}

.events-box a:visited {
  color: #a10829;
}

.events-box a:hover {
  background: #f5c4f1;
}

.events-box span {
  color: #e20665;
  display: none;
}

.info-note a {
  color: #db0979;
  text-decoration: none;
}

.info-note a:hover {
  color: #a10829;
}

footer {
  margin: 25px 0;
}

.info-repo {
  font-weight: 100;
  margin: 0 auto;
  text-align: center;
}

.cta-button__container {
  text-align: center;
  margin: 40px 0 20px;
  text-align: right;
}

.cta-button {
  background-color: #041484;
  border-radius: 5px;
  color: #fff1f6;
  cursor: pointer;
  padding: 16px 40px;
  font-size: 20px;
  white-space: nowrap;
  text-decoration: none;
  box-shadow: 1px 1px 14px -3px rgba(0, 0, 0, 0.42);
}

.cta-button:hover {
  background-color: #030c4c;
  transition: background-color 0.2s ease-in;
  outline: #041484;
}

.member-imgs {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 7rem;
  min-height: 26rem;
}

.member-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: absolute;
  --x: 0%;
  --y: 0%;
  --s: 1;
  transform: scale(var(--s));
}

/* Media Queries */

@media (min-width: 420px) {
  .notif-banner > .notif {
    font-size: 22px;
  }

  .welcome-title {
    margin-top: 20px;
    font-size: 2.75rem;
  }

  .logo-img {
    width: 400px;
  }

  .cta-button {
    font-size: 20px;
  }

  .events-box > * {
    width: auto;
  }
  .events-box span {
    display: inline-block;
  }
}

.highlights li {
  padding: 10px;
}

@media screen and (max-width: 600px) {
  .cta-button__container {
    text-align: center;
  }
  .cta-button {
    max-width: 196px;
    display: inline-block;
    text-align: center;
    padding: 10px 20px;
    font-size: 18px;
  }
}
