body {
  font-family: 'Roboto', sans-serif;
  /*
  Thin 100
  Regular 400
  */
}
.welcome-title {
  margin-top: 100px;
  text-align: center;
  font-weight: 400;
}

.logo-img {
  width: 300px;
  display: block;
  margin: 100px auto;
}

.info-note {
  text-align: center;
  font-weight: 400;
}

footer {
  margin: 200px 0;
}

.info-repo {
  font-weight: 100;
  margin: 0 auto;
  text-align: center;
}
