/* :root {
  --color-bg: #fff;
  --color-text: #fff;
  --color-text-secondary: #000;
  --color-what-is-title-bg: #1d1283;
  --color-why-description-text: #3d3d3d;
  --color-social-media-links-bg: #fff;
  --color-links: #1d1283;
  --color-events: #e30162;
} */

:root {
  --color-bg: #1c1b22;
  --color-text: #e1e1ec;
  --color-text-secondary: #e1e1ec;
  --color-what-is-title-bg: #191970;
  --color-why-description-text: #e1e1ec;
  --color-social-media-links-bg: #1c1b22;
  --color-links: #0080ff;
  --color-events: #ff0090;
}

html,
body {
  background-color: var(--color-bg);
  font-family: 'Roboto', sans-serif;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  /* for rem */
  overflow-x: hidden;
  transition: all 0.5s linear;
}

#scroll-to-top-btn {
  position: fixed;
  z-index: 100;
  bottom: -100px;
  right: 20px;
  width: 50px;
  height: 50px;
  background: var(--color-vivid-pink);
  border: none;
  border-radius: 50%;
  outline: none;
  box-shadow: 0 0 10px rgba(var(--color-black-rgb), 0.25);
  cursor: pointer;
  transition: all 0.3s;
}

#scroll-to-top-btn:active {
  background: var(--color-black);
}

.content-wrapper {
  display: flex;
  margin: 0 25px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.content-wrapper main {
  max-width: 100%;
}

.wrapper {
  margin: 25px;
}

.info-note {
  text-align: center;
  font-weight: 400;
  font-size: 1.2rem;
}

.highlighted-text {
  color: var(--color-vivid-pink);
}

.highlighted-text a {
  color: var(--color-dark-blue);
}

.new-releases {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-title {
  color: var(--color-text-secondary);
  margin-top: 60px;
  text-align: center;
  font-weight: 700;
}

.logo-img {
  width: 200px;
  height: 200px;
  display: block;
  margin: 0px auto;
}

.social-media-links {
  text-align: center;
  font-weight: 400;
  font-size: 1.125em;
}

.social-media-links-btn {
  color: var(--color-text-secondary);
  font-size: 16px;
  border: none;
  padding: 0.3rem;
  background-color: var(--color-social-media-links-bg);
  cursor: pointer;
}

.social-media-logo {
  vertical-align: middle;
  width: 35px;
  height: 35px;
  transition: all 0.5s ease-in-out;
}

.social-media-logo:hover {
  transform: scale(1.25);
}

.social-media-link {
  text-decoration: none;
}

.social-media-links > span {
  color: var(--color-events);
  margin: 0 10px;
}

.section-description {
  background: var(--color-what-is-title-bg);
  margin: 0 -25px;
}

.description-title {
  text-align: center;
  font-weight: 700;
  line-height: 130%;
  font-size: 2rem;
  color: var(--color-text);
  padding: 60px 60px 28px;
}

.description-content {
  padding: 0 40px 32px;
  font-weight: 400;
  color: var(--color-text);
  line-height: 175%;
  text-align: justify;
}

.section-features {
  margin: 0 -25px;
}

.features-title {
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
  color: var(--color-why-description-text);
  margin: 60px 20px 32px;
  line-height: 150%;
}

.features-content {
  padding: 0px 40px 20px 0px;
  font-weight: 400;
  color: var(--color-why-description-text);
  line-height: 175%;
  text-align: justify;
}

.title-bullet-points {
  margin: 30px 2px;
  text-align: left;
}

.video-holder {
  margin: 175px auto 50px;
  max-width: 600px;
}

.video-holder > .video-text {
  margin: 0 auto 40px;
  font-size: 34px;
  font-weight: 700;
  text-align: center;
  color: var(--color-text-secondary);
}

.video-holder > iframe {
  margin: 0 auto;
  display: block;
  width: 100%;
}

.next-event-header {
  color: var(--color-text-secondary);
  margin-top: 40px;
}

.next-event {
  margin: 20px 10px 10px;
  display: block;
  font-size: 2rem;
  text-align: center;
}

.past-events-header {
  color: var(--color-text-secondary);
  font-size: 18px;
  margin-top: 40px;
  text-align: center;
}

.events-box {
  margin: 0 20px 50px;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.events-box > * {
  margin: 0 10px;
  padding: 8px;
  text-align: center;
  width: 100%;
  color: var(--color-events);
  text-decoration: none;
}

.events-box a:visited {
  color: var(--color-carmine);
}

.events-box a:hover {
  background: var(--color-soft-magenta);
  border-radius: 20px;
}

.info-note {
  color: var(--color-text-secondary);
}

.info-note a {
  color: var(--color-events);
  text-decoration: none;
}

.info-note a:hover {
  color: var(--color-carmine);
}

footer {
  padding: 25px 0;
}

.info-repo {
  color: var(--color-text-secondary);
  margin: 0 auto;
  text-align: center;
}

.info-repo a {
  color: var(--color-links);
  text-decoration: none;
}

.cta-button__container {
  text-align: center;
  margin: 40px 0 20px;
  text-align: right;
}

.cta-button {
  background-color: var(--color-dark-blue);
  border-radius: 5px;
  color: var(--color-light-grey);
  cursor: pointer;
  padding: 16px 40px;
  font-size: 20px;
  white-space: nowrap;
  text-decoration: none;
  box-shadow: 1px 1px 14px -3px rgba(var(--color-black-rgb), 0.42);
}

.cta-button:hover {
  background-color: var(--color-dark-blue);
  transition: background-color 0.2s ease-in;
  outline: var(--color-dark-blue);
}

.member-imgs {
  display: none;
  align-items: center;
  justify-content: center;
  min-height: 26rem;
}

.member-imgs > a {
  display: flex;
  justify-content: center;
}

.member-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: absolute;
  --x: 0%;
  --y: 0%;
  --s: 1;
  transform: scale(var(--s));
}

.loaders {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 7rem;
  min-height: 26rem;
}

.skeleton-loader {
  position: absolute;
  margin-top: 1.25rem;
  margin-right: 1.25rem;
  padding: 0.625rem;
  overflow: hidden;
  background: var(--color-white);
  height: 120px;
  width: 120px;
  border-radius: 50%;
  box-shadow: 0 10px 10px 0 rgba(var(--color-black-rgb) 0.2),
    0 5px 10px 10px rgba(var(--color-black-rgb), 0.2);
  transition: ease box-shadow 0.3s;
  --x: 0%;
  --y: 0%;
  --s: 1;
  transform: scale(var(--s));
}

.avatar-head {
  position: absolute;
  background: var(--color-dark-grey);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  top: 50%;
  left: 50%;
  margin: -25px 0px 0px -25px;
}

.avatar-body {
  position: absolute;
  background: var(--color-dark-grey);
  margin-top: 49px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50px;
  width: 100px;
  border-radius: 150px 150px 0 0;
}

.animate {
  animation: shimmer 8s infinite linear;
  background: linear-gradient(to top, var(--color-grey) 34%, #c5c9c9 30%);
  background-size: 100px 100%;
}

@keyframes shimmer {
  0% {
    background-position: 0 1000px;
  }
}

/* Media Queries */

@media (min-width: 420px) {
  .welcome-title {
    font-size: 2.75rem;
  }

  .logo-img {
    width: 400px;
    height: 400px;
  }

  .cta-button {
    font-size: 20px;
  }

  .events-box > * {
    width: auto;
  }

  .events-box span {
    display: inline-block;
  }
}

.highlights li {
  padding: 10px;
}

@media screen and (max-width: 500px) {
  .cta-button__container {
    text-align: center;
  }

  .cta-button {
    max-width: 196px;
    display: inline-block;
    text-align: center;
    padding: 10px 20px;
    font-size: 18px;
  }
}

@media screen and (min-width: 1100px) {
  .description-title {
    font-size: 2.8rem;
    padding: 90px 60px 45px;
  }

  .description-content {
    font-size: 1.25rem;
    padding: 0px 65px 70px;
  }

  .features-title {
    font-size: 2.8rem;
    margin-top: 150px;
    margin-bottom: 100px;
  }

  .features-content {
    font-size: 1.25rem;
    padding: 0px 65px 60px 30px;
  }

  .title-bullet-points {
    font-size: 1.75rem;
    margin: 40px 2px;
  }
}

@media screen and (min-width: 1024px) {
  .description-content {
    padding: 0px 250px 90px;
  }

  .features-content {
    padding: 0px 250px 80px 210px;
  }
}

/***********************/
/* EMAIL CAPTURE FORM */
/***********************/

.section-cta {
  padding: 40px 250px;
}

.cta {
  display: flex;
  border-radius: 9px;
  align-items: center;
  justify-content: center;

  box-shadow: 0 1.2rem 2.4rem rgba(--color-black-rgb, 0.1);
}

.cta-text-box {
  padding: 3.6rem 4.8rem 4.8rem;
  color: var(--color-dark-blue);
}

.cta .heading-secondary {
  font-size: 2.4rem;
  margin-bottom: 1.8rem;
  color: inherit;
}

.cta-text {
  font-size: 1.2rem;
  line-height: 1.8;
  margin-bottom: 2.4rem;
}

.cta-form {
  display: grid;
  grid-template-columns: 60% 30%;
  column-gap: 3.6rem;
  row-gap: 1.2rem;
}

.cta-form label {
  display: block;
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.cta-form input {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.2rem;
  font-family: inherit;
  border: 2px solid var(--color-black);
  border-radius: 9px;
  color: var(--color-dark-grey);
  box-shadow: 0 1px 2px rgba(--color-black-rgb 0.1);
}

.cta-form input:focus {
  outline: 3px solid var(--color-soft-magenta);
}

.btn-cta {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  padding: 1.2rem 2.15rem;
  border-radius: 9px;
  border: none;
  cursor: pointer;
  font-family: inherit;
  text-decoration: none;
  align-self: end;

  color: var(--color-white);
  background-color: var(--color-dark-blue);
  transition: all 0.3s;
}

.btn-cta:hover,
.btn-cta:active {
  background-color: var(--color-vivid-pink);
}

/* MEDIA QUERIES */

@media (max-width: 79em) {
  .cta-form input {
    width: 75%;
  }
}

@media (max-width: 60em) {
  .section-cta {
    padding: 0.8rem 1.4rem;
  }

  .cta-form {
    grid-template-columns: 60% 40%;
    column-gap: 1.8rem;
  }
}

@media (max-width: 31em) {
  .section-cta {
    padding: 0.8rem 1.4rem;
  }

  .cta-form {
    grid-template-columns: 1fr;
  }

  .cta-form input {
    width: 83%;
  }
}
