body {
  font-family: 'Roboto', sans-serif;
  /*
  Thin 100
  Regular 400
  */
}
body:before{
  background-image: url("../img/tswirls.png");
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}


.welcome-title {
  margin-top: 70px;
  text-align: center;
  font-weight: 400;
}

.logo-img {
  width: 300px;
  display: block;
  margin: 100px auto;
}

.info-note {
  text-align: center;
  font-weight: 400;
}

.highlighted-text {
  color: #e20665;
}

.highlighted-text a {
  color: #041484;
}

footer {
  margin: 200px 0;
}

.info-repo {
  font-weight: 100;
  margin: 0 auto;
  text-align: center;
}

.cta-button__container {
  text-align: center;
  margin: 60px auto;
}

.cta-button {
  background-color: #041484;
  border-radius: 5px;
  color: #fff1f6;
  cursor: pointer;
  padding: 30px 50px;
  font-size: 1.1em;
  white-space: nowrap;
  text-decoration: none;
  box-shadow: 1px 1px 14px -3px rgba(0,0,0,0.42);
}

@media (min-width: 420px) {
  .cta-button {
    font-size: 1.7em;
  }
}

.cta-button:hover {
  background-color: #030c4c;
  transition: background-color 0.2s ease-in;
  outline: #041484;
}
