body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /*
  Thin 100
  Regular 400
  */
}

.content-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.link-text {
  font-size: 24px;
  text-align: center;
}

.events-link {
  margin: 20px 0px 10px 0px;
  display: block;
}

.event-box {
  margin: 20px 0px;
  display: flex;
  justify-content: center;
}

.event-box > * {
  margin-left: 10px;
}

.welcome-title {
  margin: 50px 0px;
  text-align: center;
  font-weight: 400;
}

.logo-img {
  width: 450px;
  display: block;
  margin: 50px auto;
}

.info-note {
  text-align: center;
  font-weight: 400;
}

.highlighted-text {
  color: #e20665;
}

.highlighted-text a {
  color: #041484;
}

footer {
  margin: 25px 0;
}

.info-repo {
  font-weight: 100;
  margin: 0 auto;
  text-align: center;
}

.cta-button__container {
  text-align: center;
  margin: 60px auto;
}

.cta-button {
  background-color: #041484;
  border-radius: 5px;
  color: #fff1f6;
  cursor: pointer;
  padding: 30px 50px;
  font-size: 1.1em;
  white-space: nowrap;
  text-decoration: none;
  box-shadow: 1px 1px 14px -3px rgba(0,0,0,0.42);
}

@media (min-width: 420px) {
  .cta-button {
    font-size: 1.7em;
  }
}

.cta-button:hover {
  background-color: #030c4c;
  transition: background-color 0.2s ease-in;
  outline: #041484;
}
