html,
body {
  font-family: "Roboto", sans-serif;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px; /* for rem */
}

.content-wrapper {
  margin: 0 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.content-wrapper nav {
  padding: 10px 0;
  width: 100%;
}

.content-wrapper main {
  max-width: 100%;
}

nav .btn-login {
  float: right;
}


.info-note {
  text-align: center;
  font-weight: 400;
  font-size: 1.5rem;
}

.highlighted-text {
  color: #e20665;
}

.highlighted-text a {
  color: #041484;
}

.welcome-title {
  margin-top: 25px;
  text-align: center;
  font-weight: 700;
}

.logo-img {
  width: 250px;
  display: block;
  margin: 30px auto;
}

.social-media-links {
  text-align: center;
  font-weight: 400;
  font-size: 1.125em;
}

.social-media-links > span {
  color: #e20665;
  margin: 0 10px;
}

.next-event-header {
  margin-top: 40px;
}

.next-event {
  margin: 20px 10px 10px;
  display: block;
  font-size: 2rem;
  text-align: center;
}

.past-events-header {
  font-size: 18px;
  margin-top: 40px;
  text-align: center;
}

.events-box {
  margin: 0 20px 50px;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.events-box > * {
  margin: 0 10px;
  text-align: center;
  width: 100%;
}

.events-box span {
  color: #e20665;
  display: none;
}

footer {
  margin: 25px 0;
}

.info-repo {
  font-weight: 100;
  margin: 0 auto;
  text-align: center;
}

.cta-button__container {
  text-align: center;
  margin: 40px 0 20px;
  text-align: right;
}

.cta-button {
  background-color: #041484;
  border-radius: 5px;
  color: #fff1f6;
  cursor: pointer;
  padding: 16px 40px;
  font-size: 20px;
  white-space: nowrap;
  text-decoration: none;
  box-shadow: 1px 1px 14px -3px rgba(0, 0, 0, 0.42);
}

.cta-button:hover {
  background-color: #030c4c;
  transition: background-color 0.2s ease-in;
  outline: #041484;
}

/* Media Queries */

@media (min-width: 420px) {
  .welcome-title {
    margin-top: 50px;
    font-size: 2.75rem;
  }

  .logo-img {
    width: 400px;
  }

  .cta-button {
    font-size: 20px;
  }

  .events-box > * {
    width: auto;
  }
  .events-box span {
    display: inline-block;
  }
}

.highlights li {
  padding: 10px;
}

@media screen and (max-width: 600px) {
  .cta-button__container {
    text-align: center;
  }
  .cta-button {
    max-width: 196px;
    display: inline-block;
    text-align: center;
    padding: 10px 20px;
    font-size: 18px;
  }
}
