nav {
  margin-top: 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1D1283;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  border-radius: .5rem;
  color: #ffffff;
  font-weight: bolder;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.active {
  color: #87D870;
}
