.navbar{
    background-color: #1D1283;
    padding: 5px ;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1D1283;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  border-radius: .5rem;
  color: #ffffff;
  font-weight: bolder;
  text-align: center;
  padding:14px 16px;
  text-decoration: none;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    padding:10px 15px;
}

nav li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.navbar-dark .navbar-nav .nav-link.active {
    color: #87D870;
  }
