nav {
  margin-top: 0;
}

.topnav {
  overflow: hidden;
  background-color: #1D1283;
}

.topnav div {
  width: 30px;
  height: 3px;
  background-color: #E20665;
  margin: 4px 0;
}

.topnav a {
  float: left;
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  cursor: pointer;
}

.topnav a:hover {
  background-color: #7078BB;
}

.topnav a.active {
  color: #4CAF50;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
