@import url('global-variables.css');

:root {
  --color-nav: #1d1283;
  --color-nav-text: #ffffff;
  --color-black: #0d6efd;
  --dropdown-hover: #d7d6d6;
  --skeleton-bg: #483bc0;
  --skeleton-shine-color: #edeef1;
}

.dark-theme {
  --color-nav: #191970;
  --color-nav-text: #e1e1ec;
}

nav {
  font-weight: 700;
}

nav li a {
  margin: 10px;
  display: block;
  border-radius: 0.5rem;
  color: var(--color-nav-text);
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
}

nav li {
  float: left;
}

nav li a:hover {
  color: var(--color-lime-green);
}

.nav-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--color-nav);
}

.nav-logo-li {
  padding: 8px 20px 0;
}

.nav-logo-li a {
  margin: 0px;
  padding: 0px;
}

.nav-login-li {
  float: right;
  padding: 0.2rem;
}

.nav-login-li a {
  padding: 8px;
}

.nav-login,
.home-tab {
  display: none;
}

.btn-login-text {
  border-radius: 6px;
  padding: 5px;
  margin: 6px;
  background-color: var(--color-nav);
  color: var(--color-nav-text);
  cursor: pointer;
  border: 2px solid var(--color-white);
  display: flex;
}

.btn-login-text img {
  padding-left: 0.3rem;
}
.hidden {
  display: none;
}

.skeleton-holder {
  display: flex;
  align-items: center;
}
.skeleton-rectangle {
  width: 105px;
  height: 42px;
  margin-right: 0.9rem;
  border-radius: 4px;
  background: var(--skeleton-bg);
  background-image: linear-gradient(
    to right,
    var(--skeleton-bg) 0%,
    var(--skeleton-shine-color) 20%,
    var(--skeleton-bg) 40%,
    var(--skeleton-bg) 100%
  );
  background-repeat: no-repeat;
  background-size: 300px 104px;

  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeholderShimmer;
  animation-timing-function: linear;
}
.skeleton-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;

  background: var(--skeleton-bg);
  background-image: linear-gradient(
    to right,
    var(--skeleton-bg) 0%,
    var(--skeleton-shine-color) 20%,
    var(--skeleton-bg) 40%,
    var(--skeleton-bg) 100%
  );
  background-repeat: no-repeat;
  background-size: 300px 104px;

  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeholderShimmer;
  animation-timing-function: linear;
}
.user-greet {
  display: none;
  color: var(--color-nav-text);
  margin: 23px;
  cursor: pointer;
}

.user-greet a {
  text-decoration: none;
  color: var(--color-nav-text);
  padding: 0;
}

.user-profile-pic {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: inline;
  vertical-align: middle;
}

.user-greet-msg {
  display: inline;
  vertical-align: middle;
  margin-right: 10px;
}

.dropdown {
  font-family: 'roboto';
  font-weight: 700;
  width: 150px;
  border-radius: 10px;
  color: #000;
  position: absolute;
  top: 60px;
  right: 22px;
  z-index: 100;
  display: flex;
  flex-direction: column;
  padding: 15px 0;
  font-size: 0.87rem;
  justify-content: center;
  background-color: #fffbfb;
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0,
    rgba(60, 64, 67, 0.15) 0 2px 6px 2px;
}

.dropdown-list {
  padding: 0;
  margin: 0;
}

.dropdown-link {
  text-decoration: none;
  display: block;
  cursor: pointer;
  line-height: 19.575px;
  color: var(--color-black);
}

.line {
  border: 0;
  border-bottom: 1px solid;
  margin: auto;
  opacity: 0.25;
  color: inherit;
  width: 90%;
  padding: 0;
}

.dropdown-item {
  font-weight: 700;
  background-color: var(--color-white);
  color: var(--color-black);
  border: none;
  padding: 15px 30px;
  font-size: 0.87rem;
  text-align: start;
  cursor: pointer;
  /* border-radius: 0.5rem; */
  list-style: none;
}

.dropdown-item:hover {
  background-color: var(--dropdown-hover);
  transition: background-color 0.38s ease-in;
}

.hide {
  display: none;
}

.active-tab {
  color: var(--color-lime-green);
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 10px;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: var(--color-white);
}

@media screen and (max-width: 970px) {
  nav {
    background: var(--color-nav);
  }

  .hamburger {
    margin: 20px;
    display: inline-block;
    cursor: pointer;
  }

  .nav-menu {
    background: var(--color-nav-text);
    display: none;
    width: 100%;
    padding: 10px 0px;
    box-shadow: 0px 10px 15px rgba(var(--color-black-rgb), 0.5);
  }

  .nav-menu.active,
  .home-tab {
    display: block;
  }

  .dropdown {
    width: 150px;
  }

  nav li a {
    padding: 10px 40px;
    text-align: left;
    color: var(--color-nav);
    text-decoration: none;
    display: block;
  }

  .nav-login {
    display: block;
    margin: 20px;
    position: absolute;
    top: 0;
    right: 0px;
  }

  .nav-login-li,
  .nav-logo-li {
    display: none;
  }

  .active-tab {
    text-decoration: none;
  }

  nav li {
    float: none;
  }

  .main-banner,
  .logo-img {
    margin-top: 40px;
  }

  .user-greet {
    margin: 0px;
  }
}

@keyframes placeholderShimmer {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}
