/* Define variables in the root scope */
:root {
  --success-color: darkgreen;
  --error-color: red;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
}

#container {
  margin: 30px auto;
  max-width: 600px;
  padding: 20px;
}

.form-wrap {
  padding: 15px 25px;
  background: #ffffff;
  border: 1px solid #f4f4f4;
  border-radius: 2%;
  box-shadow: 0 0 15px -7px rgba(0, 0, 0, 0.65);
}

.form-wrap h2 {
  text-align: center;
  color: #666;
}

.form-wrap .form-group {
  margin-top: 15px;
}

.form-wrap .form-group label {
  display: block;
  color: #666;
}

.form-wrap .form-group input {
  width: 100%;
  padding: 10px;
  border: #666 1px solid;
  border-radius: 5px;
}

.form-wrap .form-group input:focus {
  outline: 0;
  border-color: #777;
}

.form-group.success input {
  border-color: var(--success-color);
  border-width: 2px;
}

.form-group.error input {
  border-color: var(--error-color);
  border-width: 2px;
}

.form-group small {
  color: var(--error-color);
  visibility: hidden;
}

.form-group.error small {
  visibility: visible;
}


button#submission {
  background-color: #43A047;
  color: #fff;
  border-color: #777;
  display: block;
  width: 100%;
  margin-top: 15px;
  padding: 20px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.fab {
  font-size: 2em;
}

input:focus {
  background: rgb(233, 201, 104);
}

.hint {
  font-size: 0.7rem;
  color: #777;
  padding-top: 5px;
}
