@import url('global-variables.css');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
}

#container {
  margin: 30px auto;
  max-width: 600px;
  padding: 20px;
}

.form-wrap {
  padding: 15px 25px;
  background: var(--color-white);
  border: 1px solid var(--color-grey);
  border-radius: 2%;
  box-shadow: 0 0 15px -7px rgba(var(--color-black-rgb), 0.65);
}

.form-wrap h2 {
  text-align: center;
  color: var(--color-darkest-grey);
}

.form-wrap .form-group {
  margin-top: 15px;
}

.form-wrap .form-group label {
  display: block;
  color: var(--color-darkest-grey);
}

.form-wrap .form-group input {
  width: 100%;
  padding: 10px;
  border: var(--color-darkest-grey) 1px solid;
  border-radius: 5px;
}

.form-wrap .form-group input:focus {
  outline: 0;
  border-color: var(--color-dark-grey);
}

.form-wrap .form-group input:disabled {
  background: var(--color-greyish-blue);
}

.form-group.success input {
  border-color: var(--color-dark-green);
  border-width: 2px;
}

.form-group.error input {
  border-color: var(--color-red);
  border-width: 2px;
}

.form-group small {
  color: var(--color-red);
  visibility: hidden;
}

.form-group.error small {
  visibility: visible;
}

button#submission {
  background-color: var(--color-lime-green);
  color: var(--color-white);
  border-color: var(--color-dark-grey);
  display: block;
  width: 100%;
  margin-top: 15px;
  padding: 20px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.fab,
.far {
  font-size: 2em;
}

input:focus {
  background: var(--color-soft-yellow);
}

.hint {
  font-size: 0.7rem;
  color: var(--color-dark-grey);
  padding-top: 5px;
}
