<div class="card__getting-started">
    <h3 data-test-getting-started-heading class="heading__h3">Congratulations</h3>
    <p data-test-getting-started-paragraph class="p2-description">Let's get your journey started with
        Real Dev Squad
    </p>
    <Reusables::Button @text="Let's Get Started" @variant='dark' @onClick={{@letsGoHandler}} @test='lets-go'
        @type='button' />
</div>