<div class='logos-container'>
  <div class='logo logo--github'>
    <img
      src='assets/icons/github-logo.png'
      alt='GitHub-Logo'
      class='logo__img--github'
    />
  </div>
  <div class='logo logo--link'>
    <img src='assets/icons/link.png' alt='Link-Logo' class='logo__img--link' />
  </div>
  <div class='logo logo--rds'>
    <img
      src='assets/icons/rds-logo.jpg'
      alt='RDS-Logo'
      class='logo__img--rds'
    />
  </div>
</div>