<div class='logos-container' data-test-logos-container>
  <div class='logo logo--github' data-test-github-logo>
    <img
      src='assets/icons/github-logo.png'
      alt='GitHub-Logo'
      class='logo__img--github'
      data-test-github-logo-img
    />
  </div>
  <div class='logo logo--link' data-test-link-logo>
    <img
      src='assets/icons/link.png'
      alt='Link-Logo'
      class='logo__img--link'
      data-test-link-logo-img
    />
  </div>
  <div class='logo logo--rds' data-test-rds-logo>
    <img
      src='assets/icons/rds-logo.jpg'
      alt='RDS-Logo'
      class='logo__img--rds'
      data-test-rds-logo-img
    />
  </div>
</div>