.not-found {
  margin: auto;
  text-align: center;
}

.not-found__img {
  width: 60%;
}

.not-found__text {
  font-weight: bold;
}

@media only screen and (width <= 644px) {
  .not-found__text {
    font-size: 20px;
  }
}
