@import 'navbar.module.css';
@import 'header.module.css';
@import 'description.module.css';
@import 'cards.module.css';
@import 'more-about.module.css';
@import 'scroll-to-top.module.css';
@import 'footer.module.css';
@import 'button.module.css';
@import 'input.module.css';
@import 'dropdown.module.css';
@import 'stepper.module.css';
@import 'page-not-found.module.css';
@import 'join-section.module.css';

* {
  margin: 0px;
  padding: 0px;
}

body {
  box-sizing: border-box;
  font-family: 'raleway', sans-serif;
  background-color: var(--color-white);
}

h1 {
  font-size: 4.5rem;
}

h2 {
  font-size: 4rem;
}

input,
select,
button {
  font-family: 'raleway', sans-serif;
}

::-webkit-scrollbar {
  width: 0;
}