@import 'navbar.module.css';
@import 'header.module.css';
@import 'description.module.css';
@import 'cards.module.css';
@import 'more-about.module.css';
@import 'scroll-to-top.module.css';
@import 'members-wheel.module.css';

* {
  margin: 0px;
  padding: 0px;
}

body {
  box-sizing: border-box;
  font-family: 'raleway', sans-serif;
  background-color: var(--color-white);
}

h1 {
  font-size: 4.5rem;
}

h2 {
  font-size: 4rem;
}