.btn {
  border-radius: 9px;
  width: 11rem;
  height: 3rem;
  color: var(--text-white);
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
  margin: 10px 0px;
}

.btn-dark {
  color: var(--color-white);
  background-color: var(--color-navyblue);
}

.btn-light {
  color: var(--color-navyblue);
  background-color: var(--color-white);
  border: 1px solid var(--color-navyblue);
}

.btn-disabled {
  background-color: var(--color-lightgrey);
  border: none;
  color: var(--color-navyblue);
  cursor: not-allowed;
  opacity: 60%;
}

.btn-pink{
  background-color: var(--color-pink);
}
