.btn {
  border-radius: 9px;
  width: 11rem;
  height: 3rem;
  color: var(--text-white);
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
  margin: 10px 0;
}

.btn-dark {
  color: var(--color-white);
  background-color: var(--color-navyblue);
}

.btn-light {
  color: var(--color-navyblue);
  background-color: var(--color-white);
  border: 1px solid var(--color-navyblue);
}

.btn-disabled {
  background-color: var(--color-lightgrey);
  border: none;
  color: var(--color-navyblue);
  cursor: not-allowed;
  opacity: 0.6;
}

.btn-pink {
  background-color: var(--color-pink);
}

.btn-pink:disabled {
  opacity: 0.4;
  color: var(--color-white);
}

.btn--sm {
  width: 8rem;
}

.btn-generateUsername {
  position: absolute;
  top: 1rem;
  right: 0;
}

.btn-chaincode {
  background-color: var(--color-navyblue);
  color: var(--color-white);
  transition: all 0.5s ease;
  width: 14rem;
}

.action-buttons {
  margin-bottom: 20px;
}

.action-buttons button {
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

.approve-button {
  background-color: #28a745;
  color: white;
}

.reject-button {
  background-color: #dc3545;
  color: white;
}

.approve-button:hover {
  background-color: #218838;
}

.reject-button:hover {
  background-color: #c82333;
}

.copy-button {
  background-color: #007bff;
  color: white;
  font-size: 14px;
  padding: 8px 16px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}

.copy-button:hover {
  background-color: #0056b3;
}
