.btn{
  border-radius: 9px;
  width: 11rem;
  height: 3rem;
  color: var(--text-white);
  font: 700 16px 'Roboto', sans-serif;
  cursor: pointer;
  margin: auto;
}

.btn-dark{
  color: var(--color-white);
  background-color: var(--color-navyblue);
}
.btn-light{
  color: var(--color-navyblue);
  background-color: var(--color-white);
  border: 1px solid var(--color-navyblue);
}