.description--dev {
  display: flex;
  margin: 50px 0;
  text-align: justify;
  align-items: center;
}

.description__heading {
  width: 52%;
  position: relative;
  text-align: center;
}

.description__image {
  height: 500px;
}

.description__title--dev {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  transform: translate(-50%, -50%);
}

.title__question {
  font-size: 3rem;
}

.title__highlight {
  font-weight: 800;
  color: var(--color-pink);
}

.description__content--dev {
  font-size: 1.5rem;
  width: 48%;
  font-weight: 600;
  margin: 0 50px;
}

@media (width <=1250px) {
  .title__highlight {
    font-size: 3.5rem;
  }

  .description__content--dev {
    margin: 0 30px;
  }
}

@media (width <=1024px) {
  .description--dev {
    flex-direction: column;
  }

  .description__heading {
    width: 90%;
  }

  .description__image {
    height: 400px;
  }

  .description__content--dev {
    width: 80%;
    margin: 20px 0;
  }
}

@media (width <=625px) {
  .title__question {
    font-size: 2.5rem;
  }

  .title__highlight {
    font-size: 3rem;
  }

  .description__content--dev {
    font-size: 1.1rem;
  }
}

@media (width <=425px) {
  .description__heading {
    width: 100%;
  }

  .description__image {
    height: 300px;
  }

  .title__question {
    font-size: 2rem;
  }

  .title__highlight {
    font-size: 2.25rem;
  }

  .description__content--dev {
    font-size: 1rem;
  }
}

/* Styles for dev=true description section */

.description {
  background: var(--color-navyblue);
  color: var(--color-white);
  padding: 5.93rem 0;
}

.description__content {
  font-weight: 400;
  line-height: 175%;
  text-align: justify;
  width: 80%;
  margin: auto;
}

.description__content > p {
  margin: 20px 0;
}

.description__title {
  text-align: center;
  font-weight: 700;
  line-height: 130%;
  font-size: 2.8rem;
  padding-bottom: 2.81rem;
  width: 80%;
  margin: auto;
}

@media screen and (width >=1024px) {
  .description__content {
    font-size: 1.25rem;
    width: 70%;
  }
}

@media (width <=625px) {
  .description__title {
    font-size: 2.5rem;
  }
}

@media (width <=425px) {
  .description__title {
    font-size: 2rem;
  }
}
