.select {
  font-weight: 300;
  font-size: 1rem;
  width: 31rem;
  height: 3.125rem;
  display: flex;
  justify-content: space-between;
  margin-top: 0.2rem;
  padding: 0 0.5rem;
  transition: all 0.1s;
  border-radius: 8px;
  border: 1px solid var( --color-shade-grey);
  background: var(--color-white);
}

.dropdown{
  margin: 1rem 0;
}

.select:focus {
  box-shadow: 0px 0px 0px 4px var(--color-light-navyblue);
}

@media screen and (max-width: 625px) {
  .select {
    width: 21.375rem;
  }
}