.dropdown__field{
  display: block;
  width: 447px;
  height: 40px;
  font-size: 22px;
  border-radius: 6px;
  background-color: var(--color-white);
  border: 3px solid var(--color-navyblue);
  padding: 5px;
  outline: none;
}