.events__section {
  padding: 0 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.75rem;
}

.events__section__header {
  text-align: center;
  font-weight: 400;
  font-size: 1.2rem;
  color: var(--color-black);
}

.events__category__header {
  font-size: 1.1rem;
  text-align: center;
  color: var(--color-black);
}

.events__links__container {
  margin-top: 1.25rem;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.events__links__container > * {
  margin: 0 0.625rem;
  padding: 0.5rem;
  text-align: center;
  width: 100%;
  color: var(--color-pink);
  text-decoration: none;
}

.event__link:hover {
  background: var(--color-soft-magenta);
  border-radius: 1.25rem;
}

@media (min-width: 420px) {
  .events__links__container > * {
    width: auto;
  }

  .events__links__container span {
    display: inline-block;
  }
}
