.header {
  background-color: var(--color-navyblue);
  padding-bottom: 6.25rem;
}

.header__logo,
.social__seperators-round {
  display: none;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container__text-social {
  font-size: 2.5rem;
  width: 45%;
  color: var(--color-white);
}

.text__welcome {
  color: var(--color-pink);
}

.text__to {
  font-weight: 400;
}

.social {
  display: flex;
  align-items: center;
  margin: 0.6rem 0rem;
}

.social>a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 1.1rem;
  text-decoration: none;
  color: var(--color-white);
  cursor: pointer;
}

.social__icon {
  padding: .25rem;
}

.social__seperators-vertical {
  margin: 0rem 1rem;
  border-left: 5px solid var(--color-white);
  border-radius: 5px;
  height: 1.25rem;
}

.container__image {
  width: 35%;
}

@media (max-width: 1250px) {
  .text__subtitle {
    font-size: 3rem;
  }

  .text__title {
    font-size: 3.5rem;
  }

  .social>a {
    font-size: 1rem;
  }

  .social__seperators-vertical {
    margin: 0rem 0.5rem;
  }
}

@media (max-width: 1024px) {
  .text__subtitle {
    font-size: 3.5rem;
  }

  .text__title {
    font-size: 4rem;
  }

  .header__logo {
    height: 9.25rem;
    width: 9.25rem;
    display: block;
    margin: 0 auto;
    padding: 2rem;
  }

  .header__container {
    flex-direction: column;
    text-align: center;
  }

  .social {
    justify-content: center;
  }

  .container__text-social {
    width: 80%;
  }

  .container__image {
    width: 40%;
  }
}

@media (max-width: 768px) {
  .container__image {
    width: 60%;
  }
}

@media (max-width: 625px) {
  .text__subtitle {
    font-size: 2.5rem;
  }

  .text__title {
    font-size: 3rem;
  }

  .social>a {
    font-size: 0.9rem;
  }

  .social__seperators-vertical {
    display: none;
  }

  .social__seperators-round {
    color: var(--color-pink);
    display: block;
    font-weight: 900;
  }
}

@media (max-width: 425px) {
  .header {
    padding-bottom: 3.25rem;
  }

  .text__subtitle {
    font-size: 2rem;
  }

  .text__title {
    font-size: 2.5rem;
  }

  .social {
    display: inline-flex;
  }

  .social>a {
    font-size: 0;
    margin: 0.3rem 0.5rem;
  }
}

/* Styles for Header under feature flag  */
.main--dev {
  background-color: var(--color-white);
  padding-bottom: 6.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.main__welcome--title {
  color: var(--color-text-secondary);
  margin-top: 3.75rem;
  text-align: center;
  font-weight: 700;
  font-size: 4rem;
}

.main__hero--img {
  width: 25rem;
  height: 25rem;
  display: block;
  margin: 0 auto;
}

.social {
  text-align: center;
  font-weight: 400;
  font-size: 1.125rem;
  display: flex;
  place-items: center;
}

.social__link {
  color: var(--color-text-secondary);
  font-size: 1rem;
  border: none;
  padding: 0.3rem;
  background-color: var(--color-social-media-links-bg);
  cursor: pointer;
  text-decoration: none;
}

.social__icon {
  vertical-align: middle;
  width: 2rem;
  height: 2rem;
  padding: 0.3rem;
  transition: all .5s ease-in-out;
}

.social__icon:hover {
  transform: scale(1.25);
}

.social__seperators-vertical--dev {
  margin: 0rem 0.75rem;
  color: var(--color-black);
}

@media (max-width: 425px) {
  .main__welcome--title {
    font-size: 2rem;
  }

  .main__hero--img {
    width: 19rem;
    height: 19rem;
  }

  .social__seperators-vertical--dev {
    margin: 0rem 0.25rem;
    color: var(--color-black);
  }
}