.icon-button {
    all: unset;
    background-color: var(--color-lightgrey);
    cursor: pointer;
    display: inline-block;
}

.icon-button--md {
    border-radius: 50%;
    padding: 1em;
    height: 2em;
    width: 2em;
    margin-right: 1rem;
}

.icon-button--md .iconify.iconify--material-symbols{
    font-size: 2em;
}

@media (max-width: 425px) {
    .icon-button--md {
        margin-right: 0.7em;
        padding: 0.7em;
    }
}
  