.input-box,
.textarea-box {
  margin: 1rem 0;
}

.input-box--btn {
  position: relative;
}

.user-input {
  font-weight: 300;
  font-size: 1rem;
  width: 30rem;
  line-height: 32px;
  margin-top: 0.5rem;
  padding: 0 0.5rem;
  outline: none;
  transition: all 0.1s;
  border-radius: 8px;
  border: 1px solid var(--color-shade-grey);
  background: var(--color-white);
}

.input-disable {
  opacity: 1.5;
  pointer-events: none;
  color: var(--color-black);
  background-color: var(--color-light-gray);
  box-shadow: none;
  cursor: not-allowed;
  border: 1px solid var(--color-gray);
}

.user-input:focus {
  box-shadow: 0px 0px 0px 4px var(--color-light-navyblue);
}

.input-regular {
  min-height: 2.75rem;
  display: flex;
  justify-content: space-between;
}

.input-big {
  height: 6.25rem;
  display: flex;
  justify-content: space-between;
  overflow-y: scroll;
}

.user-input--error {
  animation: errorAnimation 0.1s ease-in-out 3;
  border: 1px solid red;
}

.user-input--error.user-input:focus {
  box-shadow: 0px 0px 0px 4px var(--color-soft-magenta);
}

.input-box .input--full-width {
  width: 100%;
}

.input-box__helper-text {
  font-size: 0.8rem;
  margin-left: 5px;
  margin-top: 5px;
  color: var(--color-lightgrey);
}

.input-box__helper-text--error {
  color: var(--text-red);
}

@keyframes errorAnimation {
  0% {
    transform: translateX(-4px);
  }

  50% {
    transform: translateX(4px);
  }

  100% {
    transform: translateX(-4px);
  }
}