.user-input {
  font-weight: 300;
  font-size: 1rem;
  width: 34.5rem;
  line-height: 32px;
  border-radius: 10px;
  margin-top: 0.2rem;
  padding: 0 0.5rem;
  background-color: var(--color-white);
  border: 3px solid var(--color-navyblue);
  outline: none;
  transition: all 0.1s;
}

.user-input:focus {
  box-shadow: 0px 0px 0px 4px var(--color-light-navyblue);
}

.input-regular {
  min-height: 2.75rem;
  display: flex;
  justify-content: space-between;
}

.input-big {
  height: 6.25rem;
  display: flex;
  justify-content: space-between;
  overflow-y: scroll;
}