.intro__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 75vh;
  margin: 3rem 0;
}

.intro__loading {
  width: 100px;
  text-align: center;
}

.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 75vh;
}

.intro__title {
  font-size: 1.75rem;
  text-align: center;
  margin-bottom: 1.5rem;
}

.intro__item {
  width: 34rem;
  margin: 0.5rem 0rem;
}

.item__label {
  margin-bottom: 10px;
}

.item__data {
  background-color: var(--color-bgpink);
  min-height: 1.75rem;  
  border-radius: 10px;
  padding: 15px;
  text-align: justify;
}

.archived__heading{
font-size: 1.4rem;
}

@media screen and (max-width: 625px) {
  .intro__container {
    margin: 2rem 0;
  }

  .intro__title {
    font-size: 1.5rem;
    margin: 1rem;
  }

  .intro__item {
    width: 20rem;
  }
}
