.join {
  text-align: center;
}

.join__title-highlighted {
  color: var(--color-pink);
  margin-top: -1rem;
  font-weight: 800;
  font-size: 3.5rem;
}

.join__title {
  font-size: 3rem;
}

.join__para {
  width: 52%;
  text-align: justify;
  margin: auto;
  color: var(--color-darkblack);
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 0.875rem;
}

.join__link {
  display: inline-block;
  margin-top: 2.5rem;
  text-decoration: none;
  color: var(--color-white);
  font-size: 1.5rem;
  font-weight: bold;
  border: none;
  background-color: var(--color-navyblue);
  border-radius: 1rem;
  padding: 1.25rem 3rem;;
}

.join__link:hover {
  background-color: var(--color-pinkl);
  transition-duration: 250ms;
}

@media (max-width: 1024px) {
  .join__para {
    width: 62%;
  }
}

@media (max-width: 768px) {
  .join__title-highlighted {
    margin-top: -0.8rem;
  }

  .join__para {
    width: 75%;
  }
}

@media (max-width: 625px) {
  .join__title-highlighted {
    font-size: 3rem;
  }

  .join__title {
    font-size: 2.5rem;
  }

  .join__para {
    width: 80%;
    font-size: 1.1rem;
  }
}

@media (max-width: 425px) {
  .join__title-highlighted {
    font-size: 2.25rem;
  }

  .join__title {
    font-size: 2rem;
  }

  .join__para {
    width: 85%;
    font-size: 1rem;
  }
}