.join {
  text-align: center;
}

.join__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 75vh;
}

.join__title-highlighted {
  color: var(--color-pink);
  font-weight: 800;
}

.join__title {
  font-size: 3rem;
}

.join__title--new {
  font-size: 2.8rem;
  margin-top: 150px;
  margin-bottom: 75px;
}

.join__para {
  width: 50%;
  text-align: justify;
  margin: 30px auto;
  color: var(--color-darkblack);
  font-size: 1.5rem;
}

.join__para--new {
  width: 70%;
  font-weight: 400;
  font-size: 1.25rem;
  display: flex;
  line-height: 175%;
}

.links__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.join__link,
.subscribe__link {
  display: inline-block;
  margin-top: 2rem;
  text-decoration: none;
  color: var(--color-white);
  font-size: 1.5rem;
  font-weight: bold;
  border: none;
  background-color: var(--color-navyblue);
  border-radius: 1rem;
  padding: 1.25rem 3rem;
}

.subscribe__link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 1.125rem 3.75rem;
}

.join__link:hover,
.subscribe__link:hover {
  background-color: var(--color-pink);
  transition-duration: 250ms;
}

.subscribe__link span {
  font-size: 1.125rem;
}

.join__link--new {
  background-color: var(--color-button-disabled);
  cursor: not-allowed;
}

.join__link--new:hover {
  background-color: var(--color-button-disabled);
  cursor: not-allowed;
}

.join__later-text {
  color: var(--text-red);
  font-size: 1.25rem;
  margin-top: 3rem;
}

.error__message {
  color: var(--text-red);
}

.login-message {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  gap: 2rem;
}

.login-message h3 {
  font-size: 1.8rem;
}

.login-message p {
  font-size: 1rem;
}

@media (width <=1250px) {
  .join__title-highlighted {
    font-size: 3.5rem;
  }
}

@media (width <=1024px) {
  .join__para {
    width: 80%;
  }
}

@media (width <=625px) {
  .join__title {
    font-size: 2.5rem;
  }

  .join__title-highlighted {
    font-size: 3rem;
  }

  .join__para {
    font-size: 1.1rem;
  }

  .join__link,
  .subscribe__link {
    border-radius: 0.75rem;
    font-size: 1.25rem;
    padding: 1rem 2.5rem;
  }

  .subscribe__link span {
    font-size: 0.75px;
  }
}

@media (width <=425px) {
  .join__title {
    font-size: 2rem;
  }

  .join__title-highlighted {
    font-size: 2.25rem;
  }

  .join__para {
    font-size: 1rem;
  }

  .join__link,
  .subscribe__link {
    border-radius: 0.5rem;
    margin-top: 1rem;
    font-size: 1rem;
    padding: 0.75rem 2rem;
  }

  .subscribe__link span {
    font-size: 0.75px;
  }
}
