.kickout-modal,
.room-code-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 11rem;
  width: 24rem;
  padding: 1rem;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px grey;
  background-color: var(--color-white);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.kickout-modal h4 {
  font-size: 1.5rem;
}

@media only screen and (max-width: 425px) {
  .kickout-modal,
  .room-code-modal {
    width: 95%;
  }

  .kickout-modal h4 {
    font-size: 1.3rem;
  }

  .kickout-modal__buttons .btn--sm{
    width: 7rem;
  }
}
