.card.live__join {
  max-width: 40rem;
  margin: 1rem auto;
}

.card__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card.live__join .card__title {
  color: var(--color-pink);
  margin: 0;
}

@media screen and (max-width: 768px) {
  .card.live__join {
    padding: 30px 20px;
  }
}

@media screen and (max-width: 425px) {
  .card.live__join {
    width: 80%;
  }
  .live__join .user-input {
    width: 15rem;
  }
}
