.live-panel {
    background-color: var(--color-green-white);
    border-radius: 0.4rem;
    margin-top: 1rem;
    max-width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

@media (max-width: 425px) {
    .live-panel {
        justify-content: space-around;
        padding: 10px;
    }
}