.card__live {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 14px;
  padding: 2rem;
  text-align: center;
  text-decoration: none;
  color: var(--color-pink);
  box-shadow: 0 0 10px var(--color-darkblack-low-opacity);
}

.card__live__title {
  font-size: 2.25rem;
  text-align: center;
}

.card__live .live__join {
  max-width: 40rem;
  margin: 1rem auto;
}

.card__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__live .live__join .card__title {
  color: var(--color-pink);
  margin: 0;
}

@media screen and (width <= 768px) {
  .card__live.live__join {
    padding: 30px 20px;
  }
}

@media screen and (width <= 425px) {
  .card__live .live__join {
    width: 80%;
  }

  .live__join .user-input {
    width: 15rem;
  }
}
