.live-panel {
    background-color: var(--color-green-white);
    border-radius: 0.4rem;
    margin-top: 1rem;
    max-width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.live-panel__btn{
    width: 7rem;
    color: var(--color-white);
    border: none;
    height: 3.25rem;
    font-size: 1.56rem;
}

@media (max-width: 425px) {
    .live-panel{
        justify-content: space-around;
    }
    
    .live-panel__btn{
        font-size: 1rem;
        padding: 1rem;
    }
}
  