.member-imgs {
  display: none;
  align-items: center;
  justify-content: center;
  min-height: 26rem;
}

.member-imgs>a {
  display: flex;
  justify-content: center;
}

.member-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: absolute;
  --x: 0%;
  --y: 0%;
  --s: 1;
  transform: scale(var(--s));
}

.loaders {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 7rem;
  min-height: 26rem;
}

.skeleton-loader {
  position: absolute;
  margin-top: 1.25rem;
  margin-right: 1.25rem;
  padding: 0.625rem;
  overflow: hidden;
  background: var(--color-white);
  height: 120px;
  width: 120px;
  border-radius: 50%;
  box-shadow: 0 10px 10px 0 rgba(var(--color-black-rgb) 0.2),
    0 5px 10px 10px rgba(var(--color-black-rgb), 0.2);
  transition: ease box-shadow 0.3s;
  --x: 0%;
  --y: 0%;
  --s: 1;
  transform: scale(var(--s));
}

.avatar-head {
  position: absolute;
  background: var(--color-dark-grey);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  top: 50%;
  left: 50%;
  margin: -25px 0px 0px -25px;
}

.avatar-body {
  position: absolute;
  background: var(--color-dark-grey);
  margin-top: 49px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50px;
  width: 100px;
  border-radius: 150px 150px 0 0;
}

.animate {
  animation: shimmer 8s infinite linear;
  background: linear-gradient(to top, var(--color-grey) 34%, #c5c9c9 30%);
  background-size: 100px 100%;
}

@keyframes shimmer {
  0% {
    background-position: 0 1000px;
  }
}

.member_animation {
  animation: burst_out 2.5s cubic-bezier(0.37, -0.28, 0.55, 1.26) forwards;
}

.reverse_animation {
  animation: burst_in 2.5s cubic-bezier(0.37, -0.28, 0.55, 1.26) forwards;
}

@keyframes burst_out {
  0% {
    transform: translateX(0%) translateY(0%) scale(1);
  }

  100% {
    transform: translateX(var(--x)) translateY(var(--y)) scale(var(--s));
  }
}

@keyframes burst_in {
  0% {
    transform: translateX(var(--x)) translateY(var(--y)) scale(var(--s));
  }

  100% {
    transform: translateX(0%) translateY(0%);
  }
}