.onboarding-card{
    min-height: 55vh;
    min-width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    border-radius: 24px;
    position: relative;
    padding: 0 1rem;
    box-shadow: 0px 4px 10px -2px rgba(16, 24, 40, 0.06), 0px 6px 15px -2px rgba(16, 24, 40, 0.10);
}

.signup-details__rds-logo{
    display: block;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: -10%;
}

.logos-container{
    padding: 1.5rem;
    display: flex;
    flex-direction: row;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 3%;
}
.logos-container__github{
    padding: 0.5rem;
}

.logos-container__link{
    position: absolute;
    top: 35%;
    left: 42%;
    width: 20%;
    height: 30%;
}

.logos-container__rds{
    margin-left: 1rem;
    padding: 0.5rem;
}

.logo__img--link{
    width: 3.2rem;
    height: 3.2rem;
}

.signup-page-heading{
    color: var(--neutral-neutral-700, #272626);
    text-align: center;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; 
}
@media (max-width: 800px) {
    .onboarding-card{
        min-width: 60vh;
    }
}


@media (max-width: 625px) {
    .onboarding-card{
        min-height: 30vh;
        min-width: 75vw;
        padding: 3.5rem 1rem;
        margin-top: -5rem;
    }
    .signup-details__rds-logo{
        width: 5rem;
        height: 5rem;
    }

    .logo__img--github{
        height: 5rem;
        width: 5rem;
    }

    .logo__img--rds{
        width: 5rem;
        height: 5rem;
    }

    .logo__img--link{
        width: 2.8rem;
        height: 2.5rem;
    }
  }