.onboarding-card {
    max-width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-white);
    border-radius: 24px;
    position: relative;
    padding: 4rem 2rem 2rem 2rem; 
    box-shadow: 0px 4px 10px -2px var(--color-blackshadow), 0px 6px 15px -2px var(--color-blackshadow2);
    margin-top:5rem;
}
.logo__github-rds {
    height: 5rem;
    position: absolute;
    top: 0;
    transform: translateX(-50%) translateY(-50%);
    left: 50%;
}

.p2-description{
    font-size: 1rem;
    font-weight: 100;
    text-align: center;
    line-height: 24px;
}

.signup-details__rds-logo {
    display: block;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%) translateY(-50%);
}

.logos-container__rds {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    gap: 2rem;
}

.heading__h3 {
    color: var(--neutral-neutral-700, #272626);
    text-align: center;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; 
    padding-top: 1.5rem;
}
.card__getting-started{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}


.step-one__button{
    margin: 0.5rem;
    text-align: center;
}

.role-confirmation__field{
    display: flex;
    justify-content: center;
}

.checkbox-label{
    padding-top: 1rem;
    font-size: 1.1rem;
}

.chaincode-page{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    max-width: 25rem;
}

.chaincode-page__description{
    text-align: center;
}

.chaincode-container{
    width: 90%;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0rem 0.5rem 0;
    border: 1px solid;
    border-radius: 0.5rem;
}

.chaincode-container__value-invisible{
    letter-spacing: 0.4rem;
    margin-left: 1rem;
    font-weight: bold;
}

.chaincode-container__value-visible{
    font-weight: bold;
    margin-left: 1rem;
    letter-spacing: 0.2rem;
}
.chaincode-container__action{
   display: flex;
}

.chaicode-button-icon{
    background: none;
    border: none;
    padding: 0 0.4rem;
    cursor: pointer;
}

@media (max-width: 1024px) {
    .onboarding-card {
        width: 80%;
    }
    .btn-generateUsername{
        width: 5rem;
        font-size: 12px;
    }
    .checkbox-label{
        font-size: 0.8rem;
    }
}


@media (max-width: 768px) {
    .onboarding-card{
        max-width: 80%;
        padding: 3.5rem 1rem;
    }

    .signup-details__rds-logo {
        width: 5rem;
        height: 5rem;
    }

    .heading__h3{
        padding-top: 0;
    }

    .logo__img--github {
        height: 5rem;
        width: 5rem;
    }

    .logo__img--rds {
        width: 5rem;
        height: 5rem;
    }

    .logo__img--link {
        width: 2.8rem;
        height: 2.5rem;
    }

}

@media (max-width: 480px) {
    .onboarding-card{
        max-width: 90%;
    }
    .checkbox-label{
        font-size: 1rem;
    }
}