.onboarding-card {
    min-height: 55vh;
    max-width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-white);
    border-radius: 24px;
    position: relative;
    margin-top: 4rem;
    padding: 0 1rem;
    box-shadow: 0px 4px 10px -2px var(--color-blackshadow), 0px 6px 15px -2px var(--color-blackshadow2);
}

.signup-details__rds-logo {
    display: block;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: -15%;
}

.logos-container__rds {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    gap: 2rem;
}

.signup-page-heading {
    color: var(--neutral-neutral-700, #272626);
    text-align: center;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; 
    padding-top: 5rem;
}

@media (max-width: 800px) {
    .onboarding-card {
        min-width: 60vh;
    }
}


@media (max-width: 625px) {
    .onboarding-card{
        min-height: 30vh;
        min-width: 75vw;
        padding: 3.5rem 1rem;
    }

    .signup-details__rds-logo {
        width: 5rem;
        height: 5rem;
        top: -7%;
    }

    .signup-page-heading{
        padding-top: 0;
    }

    .logo__img--github {
        height: 5rem;
        width: 5rem;
    }

    .logo__img--rds {
        width: 5rem;
        height: 5rem;
    }

    .logo__img--link {
        width: 2.8rem;
        height: 2.5rem;
    }
}