.onboarding-card {
    max-width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-white);
    border-radius: 24px;
    position: relative;
    padding: 2rem;
    box-shadow: 0px 4px 10px -2px var(--color-blackshadow), 0px 6px 15px -2px var(--color-blackshadow2);
    margin-top:5rem;
}
.logo__github-rds {
    height: 5rem;
    position: absolute;
    top: 0;
    transform: translateX(-50%) translateY(-50%);
    left: 50%;
}

.p2-description{
    font-size: 1rem;
    font-weight: 100;
    text-align: center;
    line-height: 24px;
}

.signup-details__rds-logo {
    display: block;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 0;
    transform: translateX(-50%) translateY(-50%);
}

.logos-container__rds {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    gap: 2rem;
}

.signup-page-heading {
    color: var(--neutral-neutral-700, #272626);
    text-align: center;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; 
    padding-top: 3rem;
}

@media (max-width: 1024px) {
    .onboarding-card {
        width: 80%;
    }
    
}


@media (max-width: 768px) {
    .onboarding-card{
        max-width: 80%;
        padding: 3.5rem 1rem;
    }

    .signup-details__rds-logo {
        width: 5rem;
        height: 5rem;
        top: -7%;
    }

    .signup-page-heading{
        padding-top: 0;
    }

    .logo__img--github {
        height: 5rem;
        width: 5rem;
    }

    .logo__img--rds {
        width: 5rem;
        height: 5rem;
    }

    .logo__img--link {
        width: 2.8rem;
        height: 2.5rem;
    }

    .btn-generateUsername{
        width: 5rem;
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    .onboarding-card{
        max-width: 90%;
    }
}