.stepper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 75vh;
  margin: 3rem 0;
}

.stepper__form {
  margin: 0rem 1.5rem;
}

.stepper__greeting {
  font-size: 1.75rem;
  margin: 0 1rem 1rem;
  text-align: center;
}

.stepper__buttons {
  margin: 1.5rem;
  text-align: center;
}

.form__container {
  margin: 0px 10px;
}

.label {
  color: var(--color-black);
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0 0 2px 2px;
}

.required {
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  color: var(--color-pink);
}

/* Step Four: Preview */
.preview,
.preview__container {
  margin: 1.5rem 0;
}

.preview__data {
  background-color: var(--color-bgpink);
  min-height: 1.75rem;
  max-width: 34rem;
  margin-top: 0.5rem;
  border-radius: 10px;
  padding: 15px;
  text-align: justify;
}

/* Step Five: Copy Link */
.joining {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.5rem;
}

.joining__copy {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.copy__link {
  padding: 20px;
  margin: 10px 0px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  max-width: 20rem;
  border-radius: 10px;
  text-align: center;
  background-color: var(--color-bgpink);
}

.joining__info {
  margin: 20px 10px;
  font-weight: 500;
  max-width: 350px;
  padding-left: 20px;
}

.not-loggedin__message{
  color: var(--color-pink);
  font-weight: 500;
  font-size: 18px;
  text-align: center;
}

@media screen and (max-width: 625px) {
  .stepper__greeting {
    font-size: 1.5rem;
  }

  .details,
  .label,
  .preview__label {
    font-size: 1.125rem;
  }

  .user-input {
    width: 20rem;
  }
}