.tab {
  border-radius: 9px;
  width: 11rem;
  height: 3rem;
  color: var(--color-persian-indigo);
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
  margin: 10px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tab.active {
  color: var(--color-crimson-red);
  background: var(--color-cultured);
  text-decoration: underline;
}
