:root {
  --color-white: #ffffff;
  --color-offwhite: #fffbfb;
  --color-greywhite: #d0e7ff;
  --color-lightgrey: #c5c5c5;
  --color-darkgrey: #8c8c8c;
  --color-green-white: #E9E9E9;
  
  --color-black: #000000;
  --color-darkblack: #091133;
  --color-darkblack-low-opacity: #09113355;
  --color-blackshadow: #3c40434d;
  --color-blackshadow2: #3c404326;
  --color-backdrop: #00000066;
  
  --color-pink: #e30162;
  --color-bgpink: #feeeff;

  --color-navyblue: #1d1283;
  --color-green: #49a82e;

  --color-light-navyblue: #1d128340;

  --color-cultured: #f6f6f6;

  --color-sidebar: #DADADA;
}