:root {
  --color-white: #fff;
  --color-offwhite: #fffbfb;
  --color-greywhite: #d0e7ff;
  --color-lightgrey: #c5c5c5;
  --color-darkgrey: #8c8c8c;
  --color-green-white: #e9e9e9;
  --color-shade-grey: #ababab;
  --color-light-gray: #f2f2f2;
  --color-gray: #ccc;
  --color-black: #000;
  --color-black-light: #00000080;
  --color-darkblack: #091133;
  --color-darkblack-low-opacity: #09113355;
  --color-blackshadow: #3c40434d;
  --color-blackshadow2: #3c404326;
  --color-backdrop: #0006;
  --color-pink: #e30162;
  --color-pink-light: #e32476;
  --color-carmine: #a10829;
  --color-soft-magenta: #f5c4f1;
  --color-pink-low-opacity: #e301632e;
  --color-bgpink: #feeeff;
  --color-blue: #0d6efd;
  --color-navyblue: #1d1283;
  --color-green: #49a82e;
  --color-green-low-opacity: #98fb98;
  --color-light-navyblue: #1d128340;
  --color-cultured: #f6f6f6;
  --color-sidebar: #dadada;
  --color-sidebar-participants: #fff0;
  --text-red: #fd0101;
  --color-button-disabled: #a59f9f;
  --color-soil: #926829;
  --color-red: #ae03ba;
  --skeleton-bg: #483bc0;
  --skeleton-shine-color: #edeef1;
  --color-yellow-low-opacity: #ffffe0;
  --color-grayish-blue-shadow: rgba(136 165 191/ 48%);
  --body-bg-color: white;
  --input-field-border: #666;
  --input-field-border-error: #e74c3c;
  --input-field-border-error-border: red;
  --input-field-border-focus: rgb(0 81 255);
  --image-preview-border: black;
  --image-cropper-preview-border: #ccc;
  --button-image-form-bg: #1d1283;
  --button-image-form-bg-disabled: #ddd;
  --button-image-form-bg-hover: #ddd;
  --button-image-form-border: #ccc;
  --message-success-text: green;
  --message-failure-text: red;
  --drop-area-border: #ccc;
  --drop-area-highlight-border: purple;
  --drop-area-highlight-bg: gainsboro;
  --profile-field-input-bg-clr: #f9fafb;
  --profile-field-input-border-clr: #d1d5db;
  --profile-input-outline-clr: #1c64f2;
  --profile-submit-btn-clr: #1d1283;
  --profile-error-text-clr: red;
  --profile-edit-btn-clr: #1e429f;
  --profile-disabled-btn-bg-clr: #e5efeb;
  --profile-disabled-btn-text-clr: #9ca3af;
  --overlay-bg: #000000b3;
  --modal-bg: #fff;
  --modal-text: #000;
  --modal-title-text: #000;
  --close-bg: #fff;
  --color-black-25: rgb(0 0 0 / 25%);
  --color-black-shadow-3: 3px 3px 3px 0 rgb(0 0 0 / 25%);
  --color-black-shadow-8: 0 4px 8px 0 rgb(0 0 0 / 25%);
  --color-navy-link: #0000af;
}
