:root {
  --color-white: #fff;
  --color-offwhite: #fffbfb;
  --color-greywhite: #d0e7ff;
  --color-lightgrey: #c5c5c5;
  --color-darkgrey: #8c8c8c;
  --color-green-white: #e9e9e9;
  --color-shade-grey: #ababab;
  --color-light-gray: #f2f2f2;
  --color-gray: #ccc;
  --color-black: #000;
  --color-black-light: #00000080;
  --color-darkblack: #091133;
  --color-darkblack-low-opacity: #09113355;
  --color-blackshadow: #3c40434d;
  --color-blackshadow2: #3c404326;
  --color-backdrop: #0006;
  --color-pink: #e30162;
  --color-pink-light: #e32476;
  --color-carmine: #a10829;
  --color-soft-magenta: #f5c4f1;
  --color-pink-low-opacity: #e301632e;
  --color-bgpink: #feeeff;
  --color-blue: #0d6efd;
  --color-navyblue: #1d1283;
  --color-green: #49a82e;
  --color-green-low-opacity: #98fb98;
  --color-light-navyblue: #1d128340;
  --color-cultured: #f6f6f6;
  --color-sidebar: #dadada;
  --color-sidebar-participants: #fff0;
  --text-red: #fd0101;
  --color-button-disabled: #a59f9f;
  --color-soil: #926829;
  --color-red: #ae03ba;
  --skeleton-bg: #483bc0;
  --skeleton-shine-color: #edeef1;
  --color-yellow-low-opacity: #ffffe0;
  --color-grayish-blue-shadow: rgba(136 165 191/ 48%);
  --onboarding-card-box-shadow: rgb(0 0 0 / 65%);
  --onboarding-text: #000;
  --overlay-bg: #000000b3;
  --modal-bg: #fff;
  --modal-text: #000;
  --modal-title-text: #000;
  --button-proceed-bg: #008000;
  --button-proceed-text: #fff;
  --close-bg: #fff;
  --heading-h2-text: #0034a5;
  --button-idle-text: #e49504;
  --button-idle-border: #e49504;
  --button-idle-bg: #fff;
  --button-ooo-text: #80217f;
  --button-ooo-border: #80217f;
  --button-ooo-bg: #fff;
  --button-color-text: #16a334;
  --button-color-border: #16a334;
  --button-color-bg: #fff;
  --button-small-text: #0034a5;
  --button-small-bg: #fff;
  --fetch-button-bg: #008000;
  --fetch-button-color: #fff;
  --fetch-button-bg-disabled: #808080;
}
