engine-strict=true
auto-install-peers=true
strict-peer-dependencies=false
shamefully-hoist=true
public-hoist-pattern[]=*ember*
public-hoist-pattern[]=*fastboot*
public-hoist-pattern[]=@glimmer/*
public-hoist-pattern[]=**/ember-cli-htmlbars
public-hoist-pattern[]=**/htmlbars-inline-precompile
