<div class='identity-box-heading' data-test-getStarted-heading>Qualification
  Criteria</div>
<div class='identity-box-desc' data-test-getStarted-desc>
  To update your profile details, link your profile service URL with
  RealDevSquad Service.<br />
  <span class='identity-box-desc-bold'>Profile Service Template:</span>
  <a
    class='identity-box-desc-a'
    target='_blank'
    href='https://github.com/Real-Dev-Squad/sample-profile-service' rel="noopener noreferrer"
  >https://github.com/Real-Dev-Squad/sample-profile-service</a>
</div>
<button
  class='identity-box-button'
  data-test-getStarted-button type="button" {{on 'click' (fn @setState 'step1')}}
>Get Started</button>