<div class='identity-box-heading' data-test-reload-heading>Status Pending</div>
<div class='identity-box-desc' data-test-reload-desc>Reload to complete and
  verify the link between Profile Service and RealDevSquad Service.</div>
<button
  class='identity-box-button' type="button" {{on 'click' this.handleReload}}
>Reload</button>