<div class='identity-box-heading' data-test-step3-heading>Step 3: Link Profile
  Service</div>
<div class='identity-box-desc' data-test-step3-desc>Ensure that you have
  deployed your profile service URL and after that link with the RealDevSquad
  service.</div>
<button
  class='identity-box-button'
  data-test-step3-button
  type='button'
  {{on 'click' this.handleLink}}
>{{#if this.linking}} <div class='loader'></div>{{else}}
    Link
  {{/if}}</button>