<div class='identity-box-heading' data-test-verified-heading>Verified</div>
<div class='identity-box-desc' data-test-verified-desc><span
    class='identity-box-desc-bold'
  >Congratulations!!!</span>
  You did it, go ahead and tell in the community that you verified your profile
  service.</div>