{{!-- <div class="card__reusable"> --}}
    {{!-- <h1>heading</h1> --}}
    {{!-- <Reusables::InputBox @field='First Name' @name='college' @placeHolder='Write Your First Name' @type='text' /> --}}
    {{!-- <Reusables::InputBox @field='Last Name' @name='college' @placeHolder='Write Your Last Name' @type='text' /> --}}
    {{!-- <Reusables::InputBox @field='User Name' @name='college' @placeHolder='UserName' @type='text' /> --}}
    {{!-- <h1>card content</h1>
    {{yield}}
    <h2>card h2</h2>
    <h5>{{@name}}</h5> --}}
{{!-- </div> --}}
<div class="card__reusable">
  {{yield}}
</div>
