<section data-test-join class='join'>
  <h3 data-test-join-title class='join__title'>How to Join</h3>
  <h2 data-test-join-title-highlighted class='join__title-highlighted'>Real Dev
    Squad</h2>
  <p data-test-para='1' class='join__para'>Our squad focuses on quality and we
    want to work with people who are willing to be serious about their growth in
    the squad.
  </p>
  <p data-test-para='2' class='join__para'>It's okay if you don't know much yet,
    but it won't be okay to not put in any efforts for yourself. We want to
    value everyone's time and efforts.
  </p>
  <LinkTo data-test-join-link @route='join' class='join__link'>Join the Squad</LinkTo>
</section>