<section class="join-section">
    <h3 class="join__h3">How to Join</h3>
    <h2 class="join__h2">Real Dev Squad</h2>
    <div data-test-para="1" class="join_p">Our squad focuses on quality and we want to work
        with people who are willing to be serious about their
        growth in the squad.
    </div>
    <div data-test-para="2" class="join_p">It's okay if you don't know much yet, but it won't
        be okay to not put in any efforts for yourself. We want to value
        everyone's time and efforts.
    </div>
    <LinkTo @route="join" class="button">Join the Squad</LinkTo>
</section>