<div data-test-kickout-modal class='kickout-modal'>
  <h4 data-test-kickout-heading>Do you want to remove {{this.peer}}?</h4>
  <div data-test-kickout-buttons class='kickout-modal__buttons'>
    <Reusables::Button
      @text='Cancel'
      @variant='dark'
      @test='kickout-button-cancel'
      @onClick={{this.closeModal}}
    />
    <Reusables::Button
      @text='Remove'
      @variant='pink btn-dark'
      @test='kickout-button-remove'
      @type='button'
      @onClick={{this.removePeer}}
    />
  </div>
</div>