<section class='live__header'>
  <div class='live__header--left'>
    <Reusables::Button @variant='share' @text='Screenshare' @type='button' />
    <Reusables::Button @variant='option' @text='Survey' @type='button' />
    <Reusables::Button @variant='option' @text='Questions' @type='button' />
    <Reusables::Button
      @variant='option'
      @text='Previous events'
      @type='button'
    />
    <Reusables::Button
      @variant='option'
      @text='Real Dev Squad'
      @type='button'
    />
  </div>
  <div class='live__header--right'>
    <Reusables::Button
      @variant='moderator'
      @text='Moderator view ⚙'
      @type='button'
    />
  </div>
</section>