<section class='live__header'>
  <Reusables::Button
    @variant='share'
    @text={{if this.isSharing 'Stop sharing' 'Screenshare'}}
    @type='button'
    @onClick={{this.toggleShare}}
  />
</section>