<section class='loaders' id='shimmer'>
  <div class='skeleton-loader'>
    <div class='avatar-head animate'></div>
    <div class='avatar-body animate'></div>
  </div>
</section>

<section class='member-imgs' id='members'></section>