<p ...attributes>
    We're currently accepting new applications only via referrals.
</p>
<p ...attributes>
    Please get yourself referred by a known mentor or member, or by participating consistently in other servers e.g <a href="https://team.shiksha/" rel="noreferrer noopener" target="_blank">Team Shiksha</a>, <a href="https://ankush.wiki/js-ts-guild" rel="noreferrer noopener" target="_blank">JS TS Guild</a>, etc.
</p>
