<div class="new__message__box">
  <div class="new__message__box__alert">
    <div class="info__tab tip__icon__alert">
      <i/>
    </div>
    <div class="tip__box__alert">
      <p class="text__title">{{@title}}</p>
      <p class="text__description">{{@description}}</p>
    </div>
  </div>
</div>
