<div class="new__message__box" data-test-post-card>
  <div class="new__message__box__alert" data-test-post-card-alert>
    <div class="info__tab tip__icon__alert" data-test-post-icon>
      <i />
    </div>
    <div class="tip__box__alert" data-test-post-content>
      <p class="text__title" data-test-post-title>{{@title}}</p>
      <p class="text__description" data-test-post-description>{{@description}}</p>
    </div>
  </div>
</div>
