{{#if @text}}
  <div class="qr-code-container">
    <QrCode
      data-test="qr-code"
      @text={{@text}}
      @darkColor="#00000"
      class="qr-code"
    />
  </div>
  <p class="qr-code-text">Check out our RDS mobile app</p>
{{/if}}