<div class="textarea">
  <label class="label" for="">{{@label}}</label>
  {{#if @required}}
    <span class="required">*</span>
  {{/if}}
  <textarea placeholder={{@placeholder}} class="textarea__field" name="" id=""></textarea>
</div>