<div data-test-unauthenticated class="unauthenticated">
  <img
    data-test-unauthenticated-img
    class="unauthenticated__img"
    src="/assets/images/errors/401.svg"
    alt="Unauthenticated"
  />
  <h1 data-test-unauthenticated-text class="unauthenticated__text">You are not
    authenticated to view this page. Please Sign In to view this page.</h1>
</div>