<div data-test-section class="page-not-found">
  <img data-test-img class="page-not-found__img" src="/assets/images/errors/401.svg"
    alt="Unauthorized">
  <h1 data-test-text class="page-not-found__text">You are not authorized to view this page</h1>
</div>