<div data-test-verification-page class='verification-page'>
  {{#if (eq this.login.userData.profileStatus 'PENDING')}}
    <div
      data-test-verification-heading-icon
      class='verification-page__heading-Icon'
    >
      <h3
        data-test-verification-heading
        class='verification-page__heading heading__h3'
      >
        Pending
      </h3>
      <FaIcon @icon='hourglass-half' @size='lg' class='hourglass-icon' />
    </div>
    <div
      data-test-verification-description
      class='verification-page__description'
    >
      <p data-test-verification-description1>
        Refresh to Check Verification Status
      </p>
      <p data-test-verification-description2>
        Your Profile Service Linked with Real Dev Squad Service
      </p>
    </div>
    <div class='verification-page__button'>
      <Reusables::Button
        @text='Refresh'
        @variant='dark'
        @onClick={{@handleRefresh}}
        @test='refresh'
        @type='button'
      />
    </div>
  {{/if}}
</div>