    <h3 data-test-getting-started-heading class="heading__h3">Chaincode Generation</h3>
    <p data-test-getting-started-paragraph-1 class="p2-description">A private that you need to use in your
        profile service URL and deploy for source
        that you're the source of the URL
    </p>
    <p data-test-getting-started-paragraph-2 class="p2-description">https://github.com/identity-service/instructions.md
    </p>
    <Reusables::Button @text="Next" @variant='dark' @onClick={{@startHandler}} @test='identity-next'
        @type='button' />
