<p
  data-test-getting-started-paragraph-2
  class='p2-description'
>https://github.com/identity-service/instructions.md
</p>
<Reusables::Button
  @text='Next'
  @variant='dark'
  @onClick={{@startHandler}}
  @test='identity-next'
  @type='button'
/>