    <h3 data-test-getting-started-heading class="heading__h3">Chaincode Generation</h3>
    <p data-test-getting-started-paragraph-1 class="p2-description">A private that you need to use in your
        profile service URL and deploy for source
        that you're the source of the URL
    </p>
 <a href="https://github.com/Real-Dev-Squad/sample-profile-service" target="_blank" rel="noopener noreferrer"
   class="profile-service__link">
   https://github.com/Real-Dev-Squad/sample-profile-service
</a>
    <Reusables::Button @text="Next" @variant='dark' @onClick={{@startHandler}} @test='identity-next'
        @type='button' />
