<p data-test-getting-started-paragraph-2 class='p2-description'>Please click
  proceed to know about the task
</p>
<Reusables::Button
  @text='Proceed'
  @variant='dark'
  @onClick={{@startHandler}}
  @test='identity-proceed'
  @type='button'
/>