    <h3 data-test-getting-started-heading class="heading__h3">Challenge Time !!</h3>
    <p data-test-getting-started-paragraph-1 class="p2-description">To add/update your profile details, link
        your profile service with Real Dev Squad service
    </p>
    <p data-test-getting-started-paragraph-2 class="p2-description">https://github.com/identity-service/instructions.md
    </p>
    <Reusables::Button @text="Next" @variant='dark' @onClick={{@startHandler}} @test='identity-next'
        @type='button' />
