<div class='image-cropper-container'>
  <img
    data-test-image-cropper
    class='image-cropper'
    id='image-cropper'
    alt='Cropper'
    src={{this.image}}
    onload={{this.loadCropper}}
  />
</div>