<form class='form__container'>
  Your City Your State Your Country Introduce Yourself Your Skills Name of your
  college/company What do you do for fun? Fun facts about you Why do you want to
  join Real Dev Squad? How did you hear about us?
</form>