<section class='preview'>
  <h3 class='details'>Please validate before submitting</h3>
  {{#each this.JOIN_DATA as |joinData|}}
    <div class='preview__container'>
      <h3 class='preview__label'>{{joinData.label}}</h3>
      <p class='preview__data'>{{joinData.data}}</p>
    </div>
  {{/each}}
</section>