{{page-title 'Archived'}}
<section>
    <Card @name="vinit"><h3>inside archived card</h3></Card>
{{!-- <h3>
    It seems you are once a RDS user 
</h3>
<p>Please contact ankush<a data-test-insttwo-link href={{this.ANKUSH_TWITTER}}>Twitter</a></p> --}}
</section>