{{page-title "Debug"}}

<div id="debug" class="debug">
  <div class="debug__grid-container">
    <div class="debug-profile debug__grid-item">
      <div class="debug-profile__image-container">
        <img
          alt="user Profile"
          src="https://res.cloudinary.com/realdevsquad/image/upload/v1693214755/profile/NMKS92IoTCGZzPopZu7b/s7pevs5aw7oh6yh2pj03.png"
        />
      </div>
      <h2 class="debug-profile__name">Ajoy Kumar Das</h2>
    </div>
    <div class="debug-social debug__grid-item">
      <ul>
        <li>
          <p><span class="debug-bold">Twitter Id:</span> id@twitter</p>
        </li>
        <li>
          <p><span class="debug-bold">Github Id:</span> id@github</p>
        </li>
        <li>
          <p><span class="debug-bold">Linkedin Id:</span> id@linkedin</p>
        </li>
        <li>
          <p><span class="debug-bold">Discord Id:</span> id@github</p>
        </li>
      </ul>
    </div>
    <div class="debug-user debug__grid-item">
      <ul>
        <li>
          <p><span class="debug-bold"> Username:</span> ajoyk</p>
        </li>
        <li>
          <p><span class="debug-bold"> Realdevsquad Id:</span>
            #dshefbcvz;';SHAHBX</p>
        </li>
        <li>
          <p><span class="debug-bold"> Incomplete User Details:</span> No</p>
        </li>
        <li>
          <p><span class="debug-bold"> Discord Joined At:</span>
            24th Sept 2023 10:12 AM</p>
        </li>
        <li>
          <p><span class="debug-bold"> Github Name:</span> Ajoy Kumar Das</p>
        </li>
        <li>
          <p><span class="debug-bold"> Website:</span>
            ajoykumardas.vercel.app</p>
        </li>
        <li class="debug-user__roles-container">
          <p class="debug-bold">Roles:</p>
          <ul>
            <li><span class="debug-semibold">archived:</span> false</li>
            <li><span class="debug-semibold">super_user:</span> true</li>
            <li><span class="debug-semibold">member:</span> true</li>
            <li><span class="debug-semibold">in_discord:</span> true</li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="debug-features debug__grid-item">
      <div class="debug-features__feature-flag">
        <h3 class="debug-bold">Features Flags</h3>
        <ul>
          <li><p>dev</p></li>
        </ul>
      </div>
      <div class="debug-features__superuser">
        <div class="debug-features__superuser__indicator-container">
          <h3 class="debug-bold">Super User</h3>
          <div class="debug-features__superuser__indicator"></div>
        </div>
        <p class="debug-features__superuser__message">You're a super user.
          Remember, with great power comes great responsibilities!</p>
      </div>
      <div class="debug-features__superuser-privileges">
        <h3 class="debug-semibold">Apply privileges :</h3>
        <div class="privileges-toggle__container">
          <label class="privileges-toggle">
            <input type="checkbox" class="privileges-toggle__checkbox" />
            <span class="privileges-toggle__slider"></span>
          </label>
        </div>
      </div>
    </div>
  </div>
</div>