<section class='error'>
  <img class='error__img' src='assets/icons/error-icon.svg' alt='Error' />
  <h3 class='error__msg'>
    Error has been occured. Please contact admin or app owner to fix the issue.
  </h3>
</section>