{{page-title 'Please wait'}}

<section class='redirection-wrapper'>
  <img
    class='logo-img'
    src='/assets/images/rds-logo-2x.png'
    alt='Real Dev Squad'
  />
  <h1 class='redirection'>Redirecting to your correct location...</h1>
</section>