{{page-title "NotFound"}}

<div class="not-found">
	<img class="not-found-img" src="../assets/images/not-found.png" alt="not-found">
	<h1 class="not-found-text">The page you're looking for cannot be found!</h1>
</div>