{{page-title "Page Not Found"}}
<div data-test-section class="page-not-found">
	<img data-test-img class="page-not-found__img" src="../assets/images/errors/404.svg" alt="Page Not Found">
	<h1 data-test-text class="page-not-found__text">The page you're looking for cannot be found!</h1>
</div>