{{page-title "PageNotFound"}}
<div class="page-not-found">
	<img class="page-not-found-img" src="../assets/images/not-found.png" alt="not-found">
	<h1 class="page-not-found-text">The page you're looking for cannot be found!</h1>
</div>