name: Snapshots Workflow for www RDS

# Controls when the action will run.
on:
  push:
    branches: [main]
  pull_request:
    branches: [develop]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
    branches: [develop]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  generate-snapshots:
    runs-on: ubuntu-latest
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Runs a single command using the runners shell
      - name: Run echo script
        run: echo Starting the screenshot process

      - name: Percy Test
        uses: percy/snapshot-action@v0.1.2
        with:
          # build-directory: # optional, default is
          # CLI flags to pass to `percy snapshot`
          # flags: # optional, default is
          # Enable verbose logging
          verbose: true
        env:
          PERCY_TOKEN: ${{ secrets.PERCY_TOKEN }}
